:root {
  --neighbourtextcolor: #a44294;
  --neighbourbackgroundcolor: #a44294;
  --neighbourfontfamily: "Poppins";
}

.bodyneighfontsss {
  font-family: var(--neighbourfontfamily) !important;
}

.neighbourtwosecondheading {
  font-size: 23px;
  font-family: var(--neighbourfontfamily);
  font-weight: 600;
}

.neighbourtwoheaidngssparagraph {
  font-size: 18px;
  font-family: var(--neighbourfontfamily);
  font-weight: 400;
}

.neighbourhoodbrudcrum {
  margin-top: 70px;
}

.neighebbbbbbbsss {
  width: 18px;
}

.neighbourtwoparagraph {
  font-size: 15px;
  font-family: var(--neighbourfontfamily);
  font-weight: 400;
}

.alphabetnewwwww {
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  font-family: var(--neighbourfontfamily);
  background-color: #fff;
}

.neighbourbuttonaa {
  color: var(--neighbourtextcolor) !important;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--neighbourfontfamily);
  border: 1px solid rgba(164, 66, 148, 0.3);
}

.neightwonewwmain {
  position: absolute;
  top: 50%;
  top: 45%;
  top: 50%;
  width: 100%;
  background: transparent;
  z-index: 100;
}

.bannerseeachresulttt {
  padding: 35px 20px;
}

.cardssneightwosec {
  margin-top: 110px;
}

.cardssspadddingss {
  padding-bottom: 5px;
}

.cardsssneightbourhood {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  /* margin: 0 15px; */
}

.neighhsecondicon {
  width: 35px;
}

.cardsectiondetailss {
  padding: 15px;
  padding-bottom: 20px;
}

.newigheeeimagez img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.newigheeeimagez {
  width: 100%;
  height: 160px;
}

.iframeofthesecneighbour {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}

.neighbourhoodfirstttt {
  height: 440px;
  margin-top: 25px;
}

.neighsecondsssimageee {
  height: 440px;
}

.detailsecondneightbourhood {
  width: 60%;
}

.detailsecondneightbourhoodsecond {
  width: 35%;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
}

.borderrrrrrighttt {
  border-right: 1px solid #d3d3d3;
}

.borderrrrrrighttt:last-child {
  border-right: none;
}

.neeightshshshshshs {
  padding-bottom: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.neighflex111 {
  width: 50%;
}

.neighflex113 {
  width: 50%;
}

.sneighflex113 {
  width: 53%;
  display: flex;
  column-gap: 30px;
}

.neighflex112 {
  width: 50%;
}

.neighflex112 img {
  width: 100%;
}

.sectionsssss {
  padding: 10px;
  background-color: #efefef;
  border-radius: 10px;
  padding-left: 15px;
}

.populaarrrrsection {
  display: inline;
}

.lastchildareaaa:last-child {
  border: none;
}

.sliderrrrsectiosss .neighbourtwoheaidngssparagraph {
  min-height: 42px;
}

.sliderrrleftssectionbutton {
  /* right: -20px; */
  background: #a44294;
  color: #fff;
}

.sliderrrrightssectionbutton {
  /* left: -20px; */
  background: #a44294;
  color: #fff;
}

.sliderrrleftssectionbuttonneww {
  right: -20px;
}

.sliderrrrightssectionbuttonneww {
  left: -20px;
}
.zindexxmoreee {
  z-index: 1000;
}

.bannerrrsearchccc {
  padding-top: 11px;
  z-index: 0;
  margin-left: -45px;
  padding-bottom: 11px;
  padding-left: 45px;
  font-size: 15px;
  padding-right: 30px;
}

.inputseachhhssssss::placeholder {
  font-size: 14px;
}

.clickheretoexplorebuttons {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  padding-right: 30px;
}

.cardlocation {
  flex-direction: column;
}

.imagesecriorrss {
  width: 100%;
  height: 150px;
}

.neighmainlocationscard .slick-slide {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.neighmainlocationscardleft {
  left: -50px;
}

.neighmainlocationscardright {
  right: -50px;
}

.neighmainlocationnearbysection .slick-slide {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nerabyneighbourhood {
  padding-bottom: 20px;
  display: flex !important;
}

@media (max-width: 1600px) and (min-width: 1300px) {
  .neightwonewwmain {
    top: 54%;
    padding-left: 7%;
    padding-right: 7%;
  }
  .neighbourtwoheaidngssparagraph {
    font-size: 16px;
  }

  .neighebbbbbbbsss {
    width: 25px;
  }

  .cardssneightwosec {
    margin-top: 150px;
  }

  .inputsearchneighborhoodpage {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .bannerseeachresulttt {
    width: 53%;
  }

  .heightoftheleftsidesection {
    max-height: 800px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 15px;
  }

  .detailpageneighbourdetailsection {
    min-height: 530px;
    justify-content: flex-end;
  }
}

@media (max-width: 1600px) and (min-width: 1301px) {
}

@media (max-width: 1300px) and (min-width: 1100px) {
  .neighbourtwoheaidngssparagraph {
    font-size: 14px;
  }
  .neighebbbbbbbsss {
    width: 23px;
  }
  .neighbourhoodbrudcrum {
    margin-top: 0px;
  }

  .alphabetnewwwww {
    margin-left: 0;
    margin-right: 0;
  }

  .detailpageneighbourdetailsection {
    min-height: 500px;
    justify-content: flex-end;
    padding-bottom: 50px;
  }

  .newneighbourhoodstyleeelodad {
    padding-bottom: 0;
  }

  .heightoftheleftsidesection {
    max-height: 800px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 15px;
  }
}

@media (max-width: 1100px) and (min-width: 900px) {
  .cardssneightwosec {
    margin-top: 0;
  }

  .formorefiltersss {
    position: absolute;
    bottom: 245px;
    z-index: 10;
    left: 95px;
  }

  .bannerseeachresulttt {
    padding-bottom: 80px;
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  .neighbiurnewcards {
    display: flex;
  }
  .simglecardneighrbourchood {
    width: 46%;
  }

  .neighbourhoodcontiner .container {
    max-width: 700px;
  }
  .cardssneightwosec {
    margin-top: 10px;
  }
  .formorefiltersss {
    position: absolute;
    bottom: 290px;
    z-index: 10;
    left: 45px;
  }

  .neighbourtwoheaidngssparagraph {
    font-size: 15px;
  }

  .bannerseeachresulttt {
    padding-bottom: 70px;
  }

  .flexxxnewwsectiondics {
    flex-wrap: wrap;
  }

  .neighmainlocationscardleft {
    left: -20px;
  }
  .neighmainlocationscardright {
    right: -20px;
  }
  .flexdirectioncolumn {
    flex-direction: column;
  }
  .flexstartsection {
    align-items: flex-start;
  }

  .detailsecondneightbourhoodsecond {
    width: 100%;
  }
  .detailsecondneightbourhood iframe {
    height: 500px;
  }
  .detailsecondneightbourhood {
    width: 100%;
  }

  .sneighflex113 {
    width: 100%;
  }
  .neighflex113 {
    width: 100%;
  }

  .neighflex113 .grid-cols-3 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  /* .accorddionmobileview {
    display: none;
  } */

  .catgeoriesdesktop {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 600px) {
}

@media (max-width: 600px) {
  .flexdirectioncolumn {
    flex-direction: column;
  }
  .flexstartsection {
    align-items: flex-start;
  }

  .detailsecondneightbourhood {
    width: 100%;
  }
  .detailsecondneightbourhood iframe {
    height: 300px;
  }
  .detailsecondneightbourhoodsecond {
    width: 100%;
  }
  .catgeoriesdesktop {
    display: none;
  }
  .sneighflex113 {
    width: 100%;
    flex-direction: column;
  }
  .neighflex111 {
    width: 100%;
  }
  .neighflex113 {
    width: 100%;
  }
  .neighflex112 {
    width: 100%;
    padding-top: 25px;
  }

  .gridsectionsectoinss {
    display: flex;
    flex-wrap: wrap;
  }

  .sectionsssss {
    width: max-content;
    min-width: max-content;
    max-width: max-content;
  }
  .flexxxnewwsectiondics {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
  }

  .bannerrrsearchccc {
    margin-left: 0;
    padding-left: 20px;
    font-size: 15px;
    padding-right: 30px;
  }

  .zindexxmoreee {
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px;
    background: transparent;
    border: 0;
    padding-left: 0;
  }

  .zindexxmoreee .h-6 {
    display: none;
  }

  .dropdwonpageeesneighbourhood {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 7px 11px;
  }

  .paddddzeroneigh {
    padding-left: 0;
    padding-right: 0;
  }

  .inputseachhhssssss {
    position: absolute;
    top: 60px;
    background: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    left: 0;
  }

  .bannerrrsearchccc.cursor-pointer {
    position: absolute;
    top: 59.5px;
    right: 0;
    z-index: 1000;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .clickheretoexplorebuttons {
    padding-right: 30px;
    margin-top: 50px;
    border-radius: 10px;
  }

  .neighmainlocationscardright {
    right: 0px;
    top: 40%;
    width: 35px;
    height: 35px;
  }

  .neighmainlocationscardleft {
    left: 0;
    top: 40%;
    width: 35px;
    height: 35px;
  }

  .padinnggmobiletop {
    padding-top: 0;
    margin-top: -30px;
    padding-bottom: 20px;
  }
  .detailpagelastwebsitebutton {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .detailpagelastwebsitebutton button {
    flex-shrink: 0;
  }
}
