.alpabutton {
  width: 50px;
  height: 50px;
  background: none;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  border-right: 1px solid #acacac;
}

.alpabutton:hover {
  background-color: #995099;
  color: #fff;
}

.alpabutton:first-child {
  padding-left: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.alpabutton:last-child {
  padding-right: 10px;
  border-right: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.alphapetfiltersection {
  margin-top: 60px;
}

.alphapetfiltersection .girdcolumn {
  border: 2px solid #d7b1d2;
  border-radius: 50px;
}

.alpabutton.activebuttonalpha {
  background: #995099;
  border-radius: 0;
  color: #fff;
}

.alpabutton.activebuttonalpha:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.alpabutton.activebuttonalpha:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.searchhoodfilter {
  max-width: 800px;
  border-radius: 50px;
  border: 2px solid #d6b1d3;
  height: 65px;
  padding-left: 50px;
  font-size: 18px;
  font-family: "29LT Bukra Regular";
  color: #505050;
  font-weight: 700;
  position: relative;
}

.searchhoodfilter::before {
  /* content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    background-image: url("https://dev.opendesignsin.com/neighlocation.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100; */
}

.filtersearchnew .searchhoodfilter {
  background-image: url("https://dev.opendesignsin.com/neighlocation.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 25px;
  padding-left: 46px;
}

.searchhoodfilter:focus-visible {
  outline: none;
}

.searchhoodfilter::placeholder {
  font-size: 18px;
  font-family: "29LT Bukra Regular";
  color: #505050;
  font-weight: 700;
  letter-spacing: 1px;
}

.filtersearchnew {
  justify-content: center;
}

.filtersearchnewmain {
  position: relative;
  margin-top: 50px;
}

.filtersearchnew::before {}

.searchbuttonfilt {
  font-family: "29LT Bukra Regular";
  background-color: #995099;
  width: 14%;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  font-weight: 800;
  position: absolute;
  height: 56px;
  right: 17.5%;
  top: 3.9px;
  letter-spacing: 1px;
  cursor: pointer;
}

.carcontentsnew {
  border-radius: 10px;
  padding-top: 25px;
  padding-left: 0;
  padding-bottom: 20px;
}

.neighbiurnewcards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 2%;
  padding-bottom: 40px;
  row-gap: 40px;
}

.neighbourcardnew {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom: 3.5px solid #6e6e6e;
  transition:
    transform 0.3s ease,
    border-color 0.3s ease;
}

.neighbourcardnew:hover {
  border-bottom: 3.5px solid #99509c;
  cursor: pointer;
  transform: translateY(-10px);
  /* 👈 moves up */
}

.neighimg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.carcontentsnew h4 {
  font-family: "29LT Bukra SmBd";
  color: #8f4f94;
  font-size: 25px;
  line-height: 1;
  padding-left: 30px;
}

.carcontentsnew h5 {
  font-family: "29LT Bukra Regular";
  color: #000;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  margin-top: 10px;
  padding-left: 35px;
}

.readmorelink a {
  text-transform: uppercase;
  font-weight: 600;
  color: #6b6b6b;
  font-size: 14px;
  letter-spacing: 1px;
  padding-left: 40px;
  transition: 0.4s ease;
}

.readmorelink {
  padding-top: 13px;
  border-top: 1px solid #e1e1e4;
  width: 100%;
  margin-top: 17px;
}

.carcontentsnew .pincodestyle {
  font-size: 17px;
}

.neighbourcardnew:hover .readmorelink a {
  color: #9e4590;
  font-size: 17px;
  font-weight: 600;
}

/* other-pages */

.popupneigbhbourh {
  display: flex;
}

.leftsidepopup {
  background-color: #995099;
  padding-right: 0;
  width: 28%;
  padding-left: 5%;
  padding-top: 50px;
}

.pointerdiv {
  font-family: "29LT Bukra SmBd";
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  border-left: 0;
  color: #9a4d93;
  font-weight: bold;
  padding: 10px 0;
  font-size: 18px;
  line-height: 100%;
  padding-right: 18px;
  padding-top: 16px;
}

.pointerdiv.buttonactivated {
  color: #9a4d93;
  border-radius: 25px 0 0 25px;
  border-radius: 30px 0 0 30px;
}

.rightsidepopup {
  width: 72%;
  background-color: #e6e6e6;
  padding-top: 50px;
  padding-bottom: 55px;
  background: url("/public/images/locationpopupimage.jpg");
  background-position: bottom;
}

.pointerdiv.buttonnonactivated {
  font-family: "29LT Bukra";
  color: #fff;
  font-weight: 400;
  border-bottom: 1px solid #b16caf;
}

/* .pointerdiv.buttonactivated {
  
} */
.locationname {
  font-size: 48px;
  font-family: "NewAmsterdam";
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: end;
  padding-right: 15px;
  margin-bottom: 35px;
  color: #feffff;
  line-height: 38px;
}

.popuprightsidecontent {
  display: flex;
}

.popuprightsidecontent {
  display: block;
  column-count: 2;
  column-gap: 40px;
  width: 83%;
  margin-top: 25px;
  margin-left: 40px;
}

.butoonsearchbutton {
  width: 95%;
  background: #efefef;
  border: 1px solid #cbcbcb;
  border-radius: 50px;
  padding: 7px 20px;
  margin-bottom: 15px;
  display: inline-block;
  break-inside: avoid;
  cursor: pointer;
  text-align: left;
  font-family: "29LT Bukra Regular";
  color: #6b6b6b;
  font-weight: 600;
  padding-left: 15px;
}

.popupcloselocation {
  border: 1.8px solid #050505;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0;
  top: 6%;
  right: 6%;
  cursor: pointer;
}

.locationseacrgpopuo {
  margin-right: 30px;
  margin-top: 0;
}

.locationseacrgpopuo button {
  width: 145px;
  height: 53px;
  background-color: #995099;
  border-radius: 50px;
  font-family: "29LT Bukra Regular";
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
}

.butoonsearchbutton:hover {
  background-color: #995099;
  color: #fff;
}

.locationsectionhover {
  display: flex;
}

.locationiframe {
  height: 700px;
  margin-top: 100px;
  width: 100%;
}

.imagelocationsec {
  width: 465px;
  height: 450px;
  left: 60%;
}

.imageeeeeee {
  position: relative;
}

.imageeeeeee::before {
  width: 10px;
  height: 100%;
  content: "";
  position: absolute;
  background: #995099;
  left: -10px;
  top: 9px;
}

.imageeeeeee::after {
  width: 96%;
  height: 12px;
  content: "";
  position: absolute;
  background: #995099;
  left: -10px;
  bottom: -12px;
}

.hoverlocationsection {
  padding-bottom: 200px;
}

.notlocationactived {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400;
}

.locationsectionhover {
  margin-top: 50px;
  column-gap: 0;
}

.rightsidehoverlocation {
  width: 40%;
  z-index: 10;
}

.leftsidehoverlocation {
  width: 60%;
}

.locationlilst {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  z-index: 2;
}

.locationactived::before {
  position: absolute;
  content: "Click Here";
  top: -3px;
  font-size: 12px;
  left: 4px;
  color: #535353;
  letter-spacing: 2px;
  font-family: "29LT Bukra";
  font-weight: 600;
}

.locationactived {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: 2px solid #995199 underline;
  text-underline-offset: 8px;
  font-weight: 700;
  color: #975199;
  transition: all 0.09s ease;
}

.hoverlocationimagesection {
  height: 500px;
  border-left: 10px solid #995099;
  border-bottom: 10px solid #995099;
}

.textwordonly {
  position: relative;
  width: max-content;
}

.locationactived {
  position: relative;
}

.locationmainsection {
  margin-top: 80px;
}

.locationactived::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 50%;
  height: 1px;
  left: auto;
  background-color: #995199;
  z-index: 1;
  margin-left: 20px;
}

.leftsidehoverlocation {
  position: relative;
}

.iconsimagelocation {
  display: flex;
  align-items: flex-start;
  column-gap: 5px;
}

.iconsimagelocation img {
  width: 20px;
  height: 20px;
  filter: brightness(0.7);
  margin-top: 2px;
}

.butoonsearchbutton:hover .iconsimagelocation img {
  filter: none;
}

/* other-pages */

.locationdetailcardss {
  /* display: none; */
}

.locationmapin {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 3.5%;
  row-gap: 50px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.detailacrdsss {
  width: 31%;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.detailacrdsss img {
  height: 255px;
  width: 100%;
  border-top-left-radius: 20px;
}

.detailacrdsss:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.detailsmap {
  border: 1px solid #a8a8a8;
  padding: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 0;
  min-height: 285px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.locationmapin .readmorelink {
  padding-top: 0;
  border-top: 0;
  width: 100%;
  margin-top: 15px;
}

.locationmapin .readmorelink a {
  padding-left: 0;
  font-size: 16px;
  color: #a24392;
  font-weight: 600;
  font-family: "Poppins";
}

.titlenamecontent {
  font-family: "29LT Bukra SmBd";
  color: #a63e96;
  font-size: 21px;
  line-height: 120%;
  padding-left: 0px;
  /* min-height: 52px; */
}

.detailsmap p {
  font-family: "Poppins";
  color: #383838;
  font-size: 16px;
  font-weight: 500;
  margin-top: 13px;
}

.changethelocation {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.changethelocation button {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 4px;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "29LT Bukra SmBd";
}

.changethelocation button:hover {
  color: #892c7a;
  text-decoration: #892c7a underline;
}

.locationmapin .detailacrdsss:hover .readmorelink a {
  font-size: 18px;
  font-weight: 600;
}

.popupseacrhinpout {
  padding-top: 85px;
  padding-bottom: 50px;
  background: url("/public/images/locationdetailpage.jpg");
  background-position: center 41%;
  height: 540px;
  border-radius: 10px;
}

.mainlocationdd {
  display: flex;
  justify-content: center;
  position: relative;
}

.submainlocationdd {
  position: absolute;
  top: -32px;
  z-index: 100;
  height: 65px;
  border: 2px solid #c8a5c4;
  display: flex;
  align-items: center;
  padding-right: 3px;
}

.locationsvginput {
  width: 22px;
  height: 22px;
}

.mainselectinputss {
  padding-right: 5px;
}

.slectmapoption {
  font-size: 20px;
  line-height: 100%;
  font-family: "29LT Bukra";
  color: #4f4f4f;
  font-weight: 600;
  cursor: pointer;
}

.slectmapoption option {
  font-size: 18px;
  line-height: 100%;
  font-family: "Poppins";
  color: #4f4f4f;
  font-weight: 400;
  background: #892c7a;
  color: #fff;
}

.slectmapoption option:hover {
  background-color: #fff !important;
}

/* .slectmapoption option:first-child {
    margin-top: 10px;
  } */

.inputmapsearchss {
  background: #892c7a;
  height: 57px;
  width: 160px;
  color: #fff;
  font-family: "29LT Bukra SmBd";
  font-size: 18px;
  border-radius: 50px;
  padding-right: 30px;
  cursor: pointer;
}

.clickheretoexplorelocation {
  background-color: #995098;
  color: #fff;
  font-family: "29LT Bukra";
  font-weight: 600;
  height: 57px;
  border-radius: 60px;
  width: 260px;
  margin-left: -49px;
  font-size: 17px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.popupseacrhinpout .searchhoodfilter {
  max-width: 703px;
  background-color: #fff;
}

.popupseacrhinpout .searchbuttonfilt {
  right: 14%;
}

.popupseacrhinpout .workIntro p {
  font-size: 20px;
  line-height: 28px;
  margin-top: 30px;
}

.popupseacrhinpout .workIntro h1 {
  font-size: 78px;
  line-height: 70px;
}

.submainlocationdd input::placeholder {
  font-family: "29LT Bukra";
}

.searchpopupdivmain {}

.headingtop {
  background-color: #995099;
  color: #fff;
  font-family: "29LT-Bukra-Light";
}

.cardlocation {
  border: 1px solid #cbcbcb;
  width: 37%;
  border-radius: 5px;
  padding-right: 20px;
}

.bodycardsection {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
}

.bodycardsection h3 {
  font-family: "29LT Bukra Regular";
  font-size: 14px;
  width: 92%;
  line-height: 18px;
  color: #995099;
  margin-bottom: 5px;
  /* color: #2e2e2e; */
}

.locationdescription {
  color: #000;
  font-weight: 500;
}

.locationimagess {
  width: 15px;
}

.itemslocatioss {
  margin-left: -3px;
  margin-top: 2px;
}

.imagepopupnws {
  width: 28px;
  height: 28px;
}

.locationamee {
  color: #995098;
}

.neighbourhoodatag {
  width: 30%;
}

/* .relatedcardssection {
  width: 30%;
} */

.relatedsliderdivmain .slick-slide {
  padding-right: 22px;
  padding-left: 22px;
}

.relatedsliderdivmain .slick-list {
  padding-top: 15px;
  margin-left: 30px;
  margin-right: 35px;
}

.arrorwwwwidth {
  width: 55px;
  height: 55px;
}

.slidercontentttss {
  min-height: 180px;
  padding: 20px;
}

.slidercontentttss .readmorelink {
  border-top: none;
}

.fontfamilyyy {
  font-family: "NewAmsterdam";
  letter-spacing: 1px;
  font-size: 65px;
  font-weight: 500;
}

.relatedcardssection {
  border: 1px solid #f3f3f3;
}

@media (max-width: 1600px) and (min-width: 1301px) {
  .searchhoodfilter {
    max-width: 600px;
    height: 55px;
    padding-left: 40px;
    font-size: 14px;
  }

  .searchbuttonfilt {
    width: 14%;
    font-size: 15px;
    height: 45px;
    right: 20%;
    top: 4.9px;
  }

  .alpabutton {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }

  .carcontentsnew h4 {
    font-size: 23px;
    padding-left: 25px;
  }

  .carcontentsnew .pincodestyle {
    font-size: 16px;
  }

  .carcontentsnew h5 {
    padding-left: 30px;
  }

  .neighimg {
    height: 180px;
  }

  .visitIntroParaSection {
    padding-bottom: 20px;
  }

  .searchhoodfilter::placeholder {
    font-size: 16px;
  }

  .titlenamecontent {
    font-size: 18px;
    min-height: 43px;
  }

  .detailacrdsss img {
    height: 217px;
  }

  .detailsmap {
    padding: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .detailsmap p {
    margin-top: 10px;
  }

  .slectmapoption {
    font-size: 18px;
  }

  .clickheretoexplorelocation {
    height: 54px;
    width: 205px;
    margin-left: -48px;
    font-size: 15px;
  }

  .inputmapsearchss {
    height: 54px;
    width: 139px;
    font-size: 15px;
    padding-right: 29px;
  }

  .submainlocationdd input {
    padding: 0px 10px;
    width: 156px;
  }

  .locationsvginput {
    width: 20px;
    height: 20px;
  }

  .margincontrl {
    padding-top: 10px;
  }

  .locationiframe {
    height: 550px;
    margin-top: 60px;
  }

  .notlocationactived {
    font-size: 40px;
  }

  .locationactived {
    font-size: 40px;
  }

  .imagelocationsec {
    width: 350px;
    height: 480px;
  }

  .hoverlocationsection {
    min-height: 775px;
  }

  .locationmainsection {
    margin-top: 50px;
  }

  .popupseacrhinpout .searchhoodfilter {
    max-width: 600px;
  }

  .popupseacrhinpout .searchbuttonfilt {
    right: 14.7%;
  }

  .popupseacrhinpout {
    padding-top: 75px;
    padding-bottom: 30px;
    background-position: center 66%;
    height: 464px;
    max-width: 900px;
  }

  .locationpopupmain {
    max-width: 1050px;
  }

  .locationname {
    margin-bottom: 10px;
  }

  .locationactived::after {
    width: 42%;
  }
}

@media (max-width: 1300px) and (min-width: 1100px) {
  .searchhoodfilter {
    max-width: 550px;
    height: 50px;
    padding-left: 34px;
    font-size: 14px;
  }

  .searchbuttonfilt {
    width: 13%;
    font-size: 14px;
    height: 42px;
    right: 21%;
    top: 3.9px;
  }

  .alpabutton {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .carcontentsnew h4 {
    font-size: 20px;
    padding-left: 20px;
  }

  .carcontentsnew .pincodestyle {
    font-size: 16px;
    margin-top: 6px;
  }

  .carcontentsnew h5 {
    padding-left: 25px;
  }

  .neighimg {
    height: 150px;
    object-fit: cover;
  }

  .visitIntroParaSection {
    padding-bottom: 20px;
  }

  .searchhoodfilter::placeholder {
    font-size: 15px;
  }

  .carcontentsnew {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .readmorelink a {
    padding-left: 30px;
  }

  .readmorelink {
    margin-top: 15px;
  }

  .titlenamecontent {
    font-size: 17px;
    min-height: 38px;
  }

  .detailacrdsss img {
    height: 200px;
  }

  .detailsmap {
    padding: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .detailsmap p {
    margin-top: 10px;
  }

  .slectmapoption {
    font-size: 17px;
    width: 125px;
  }

  .clickheretoexplorelocation {
    height: 50px;
    width: 205px;
    margin-left: -47px;
    font-size: 14px;
  }

  .inputmapsearchss {
    height: 50px;
    width: 138px;
    font-size: 14px;
    padding-right: 27px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  .submainlocationdd input {
    padding: 0px 10px;
    width: 156px;
  }

  .locationsvginput {
    width: 20px;
    height: 20px;
  }

  .margincontrl {
    padding-top: 10px;
  }

  .locationiframe {
    height: 500px;
    margin-top: 56px;
  }

  .notlocationactived {
    font-size: 35px;
  }

  .locationactived {
    font-size: 35px;
  }

  .imagelocationsec {
    width: 315px;
    height: 410px;
    left: 53%;
  }

  .hoverlocationsection {
    min-height: 775px;
  }

  .locationmainsection {
    margin-top: 50px;
  }

  .locationactived::before {
    font-size: 9px;
  }

  .locationactived::after {
    width: 40%;
  }

  .submainlocationdd {
    height: 60px;
  }

  .popupseacrhinpout {
    padding-top: 60px;
    padding-bottom: 36px;
    background-position: center 75%;
    height: 450px;
    max-width: 700px;
  }

  .popupseacrhinpout .searchhoodfilter {
    max-width: 500px;
  }

  .popupseacrhinpout .searchbuttonfilt {
    width: 15%;
    right: 11.5%;
  }

  .locationname {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  .pointerdiv {
    font-size: 16px;
  }

  .butoonsearchbutton {
    padding-left: 13px;
    font-size: 14px;
    width: 90%;
  }

  .popuprightsidecontent {
    column-gap: 25px;
    width: 86%;
  }

  .locationpopupmain {
    max-height: 600px;
  }

  .rightsidepopup {
    overflow-y: scroll;
    height: 600px;
  }

  .leftsidescrolll {
    overflow-y: scroll;
    height: 470px;
    padding-bottom: 8px;
  }

  .submainlocationdd input::placeholder {
    /* font-weight: 500; */
    color: #000;
  }
}

@media (min-width: 901px) {
  .mobilesection {
    display: none;
  }
}

@media (max-width: 1100px) {
  .hoverlocationsection {
    display: none;
  }
}

@media (max-width: 1100px) and (min-width: 900px) {
  .neighbourhoodcontiner .container {
    max-width: 800px;
  }

  .searchhoodfilter {
    max-width: 495px;
    height: 47px;
    padding-left: 31px;
    font-size: 14px;
  }

  .searchbuttonfilt {
    width: 13%;
    font-size: 14px;
    height: 39px;
    right: 17%;
    top: 3.9px;
  }

  .alphapetfiltersection {
    margin-top: 48px;
  }

  .alpabutton {
    width: 40px;
    height: 35px;
    font-size: 14px;
    padding: 0 !important;
  }

  .carcontentsnew h4 {
    font-size: 17px;
    padding-left: 18px;
    line-height: 113%;
    width: 90%;
  }

  .carcontentsnew .pincodestyle {
    font-size: 14px;
    margin-top: 6px;
  }

  .carcontentsnew h5 {
    padding-left: 20px;
  }

  .neighimg {
    height: 150px;
    object-fit: cover;
  }

  .visitIntroParaSection {
    padding-bottom: 0;
  }

  .searchhoodfilter::placeholder {
    font-size: 13px;
  }

  .carcontentsnew {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .readmorelink a {
    padding-left: 30px;
  }

  .readmorelink {
    margin-top: 15px;
  }

  .alphapetfiltersection .girdcolumn {
    display: flex;
  }

  .titlenamecontent {
    font-size: 17px;
    min-height: 38px;
  }

  .detailacrdsss img {
    height: 180px;
  }

  .detailsmap {
    padding: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .detailsmap p {
    margin-top: 10px;
  }

  .detailacrdsss {
    width: 35%;
  }

  .locationmapin {
    justify-content: center;
    column-gap: 5.5%;
  }

  .slectmapoption {
    font-size: 17px;
  }

  .clickheretoexplorelocation {
    height: 50px;
    width: 205px;
    margin-left: -47px;
    font-size: 14px;
  }

  .inputmapsearchss {
    height: 50px;
    width: 138px;
    font-size: 14px;
    padding-right: 27px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  .submainlocationdd input {
    padding: 0px 10px;
    width: 156px;
  }

  .locationsvginput {
    width: 20px;
    height: 20px;
  }

  .margincontrl {
    padding-top: 10px;
  }

  .locationiframe {
    height: 378px;
    margin-top: 45px;
  }

  .notlocationactived {
    font-size: 28px;
  }

  .locationactived {
    font-size: 28px;
  }

  .imagelocationsec {
    width: 285px;
    height: 375px;
    left: 52%;
  }

  .hoverlocationsection {
    min-height: 775px;
  }

  .locationmainsection {
    margin-top: 50px;
  }

  .locationactived::before {
    font-size: 9px;
  }

  .locationactived::after {
    width: 40%;
  }

  .submainlocationdd {
    height: 60px;
  }

  .locationlilst {
    margin-left: 4%;
  }

  .popupseacrhinpout {
    padding-top: 59px;
    padding-bottom: 36px;
    background-position: center 72%;
    height: 370px;
    max-width: 650px;
  }

  .popupseacrhinpout .searchhoodfilter {
    max-width: 450px;
  }

  .popupseacrhinpout .searchbuttonfilt {
    width: 17%;
    right: 12.3%;
    top: 4px;
  }

  .popupseacrhinpout .workIntro h1 {
    font-size: 65px;
    line-height: 64px;
  }

  .popupseacrhinpout .workIntro p {
    font-size: 17px;
    line-height: 26px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
  }

  .filtersearchnewmain {
    margin-top: 37px;
  }

  .locationname {
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 8px;
    line-height: 93%;
  }

  .leftsidepopup {
    width: 30%;
    padding-left: 4%;
    padding-top: 40px;
  }

  .pointerdiv {
    font-size: 14px;
  }

  .iconsimagelocation img {
    width: 17px;
    height: 17px;
    margin-top: 1px;
  }

  .butoonsearchbutton {
    padding-left: 14px;
    font-size: 13px;
    width: 95%;
  }

  .popuprightsidecontent {
    column-gap: 25px;
    width: 95%;
    margin-left: 20px;
  }

  .locationpopupmain {
    max-height: 600px;
    max-width: 88%;
  }

  .rightsidepopup {
    overflow-y: scroll;
    height: 600px;
    width: 70%;
  }

  .leftsidescrolll {
    overflow-y: scroll;
    height: 470px;
    padding-bottom: 8px;
  }

  .popupcloselocation {
    width: 30px;
    height: 30px;
    font-size: 16px;
    top: 4%;
    right: 4%;
  }

  .fontsizeaccordion {
    font-family: "29LT Bukra";
    font-weight: 600;
    font-size: 20px;
  }

  .fontxonatjdjsdd {
    padding: 14px 22px;
    background: #f5f5f5;
    padding-right: 22px;
  }

  .arrowfontsup {
    font-family: "29LT Bukra";
    font-weight: 600;
    font-size: 22px;
  }

  .boderrrrr {
    border: 1px solid rgba(0, 0, 0, 0.09);
    width: 520px;
    margin-bottom: 19px;
  }

  .boderrrrraddedcolor .fontxonatjdjsdd {
    background: #995098;
    color: #fff;
  }

  .cardssss {
    background: #ededed;
  }

  .boderrrrraddedcolor .cardssss {
    padding-bottom: 30px;
  }

  .cardssss img {
    margin-top: 10px;
    height: 250px;
  }

  .buttonsecc {
    margin-top: 23px;
  }

  .buttonsecc button {
    font-size: 17px;
    line-height: 17px;
    width: 128px;
    height: 37px;
  }

  .accorddionmobileview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hoverlocationsection {
    padding-bottom: 70px;
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  .neighbourhoodcontiner .container {
    max-width: 600px;
  }

  .neighbiurnewcards {
    flex-wrap: wrap;
    column-gap: 5%;
  }

  .searchhoodfilter {
    max-width: 400px;
    height: 50px;
    padding-left: 35px;
    font-size: 12px;
  }

  .searchhoodfilter::placeholder {
    font-size: 14px;
  }

  .searchbuttonfilt {
    width: 17%;
    font-size: 13px;
    height: 40px;
    right: 13.5%;
    top: 4.9px;
  }

  .alphapetfiltersection .girdcolumn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .alpabutton {
    width: 35px;
    height: 35px;
    font-size: 15px;
    border: none;
    padding: 0;
    flex-shrink: 0;
  }

  .carcontentsnew h4 {
    font-size: 16px;
    padding-left: 25px;
    line-height: 108%;
    width: 86%;
  }

  .neighbourcardnew {
    width: 45%;
  }

  .neighimg {
    height: 142px;
    object-fit: cover;
  }

  .carcontentsnew h5 {
    font-size: 14px;
    line-height: 25px;
    margin-top: 7px;
    padding-left: 28px;
  }

  .carcontentsnew .pincodestyle {
    font-size: 15px;
  }

  .readmorelink {
    margin-top: 13px;
  }

  .titlenamecontent {
    font-size: 17px;
    min-height: 38px;
  }

  .detailacrdsss img {
    height: 180px;
  }

  .detailsmap {
    padding: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .detailsmap p {
    margin-top: 10px;
  }

  .detailacrdsss {
    width: 42%;
  }

  .locationmapin {
    justify-content: center;
    column-gap: 5.5%;
  }

  .popupseacrhinpout {
    padding-top: 59px;
    padding-bottom: 36px;
    background-position: center 72%;
    height: 370px;
    max-width: 600px;
  }

  .popupseacrhinpout .searchhoodfilter {
    max-width: 450px;
  }

  .popupseacrhinpout .searchbuttonfilt {
    width: 17%;
    right: 9%;
    top: 5px;
  }

  .popupseacrhinpout .workIntro h1 {
    font-size: 65px;
    line-height: 64px;
  }

  .popupseacrhinpout .workIntro p {
    font-size: 17px;
    line-height: 26px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
  }

  .filtersearchnewmain {
    margin-top: 37px;
  }

  .locationname {
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    line-height: 90%;
    padding-right: 10px;
  }

  .leftsidepopup {
    width: 30%;
    padding-left: 3%;
    padding-top: 40px;
  }

  .pointerdiv {
    font-size: 13px;
  }

  .iconsimagelocation img {
    width: 16px;
    height: 16px;
    margin-top: 1px;
  }

  .butoonsearchbutton {
    padding-left: 14px;
    font-size: 12px;
    width: 95%;
  }

  .popuprightsidecontent {
    column-gap: 15px;
    width: 100%;
    margin-left: 5px;
  }

  .locationpopupmain {
    max-height: 560px;
    max-width: 94%;
  }

  .rightsidepopup {
    overflow-y: scroll;
    height: 600px;
    width: 70%;
  }

  .leftsidescrolll {
    overflow-y: scroll;
    height: 470px;
    padding-bottom: 8px;
  }

  .popupcloselocation {
    width: 30px;
    height: 30px;
    font-size: 16px;
    top: 4%;
    right: 4%;
  }

  .submainlocationdd {
    top: -32px;
    height: 59px;
  }

  .inputmapsearchss {
    height: 50px;
    width: 125px;
    font-size: 13px;
    padding-right: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: "29LT Bukra";
  }

  .clickheretoexplorelocation {
    height: 50px;
    width: 197px;
    margin-left: -45px;
    font-size: 13px;
  }

  .slectmapoption {
    font-size: 15px;
  }

  .mainselectinputss {
    padding-right: 0;
    padding-left: 11px;
    column-gap: 0;
  }

  .submainlocationdd input {
    width: 108px;
  }

  .locationiframe {
    height: 450px;
    margin-top: 50px;
  }

  .fontsizeaccordion {
    font-family: "29LT Bukra";
    font-weight: 600;
    font-size: 19px;
  }

  .fontxonatjdjsdd {
    padding: 14px 18px;
    background: #f5f5f5;
    padding-right: 15px;
  }

  .arrowfontsup {
    font-family: "29LT Bukra";
    font-weight: 600;
    font-size: 22px;
  }

  .boderrrrr {
    border: 1px solid rgba(0, 0, 0, 0.09);
    width: 480px;
    margin-bottom: 19px;
  }

  .boderrrrraddedcolor .fontxonatjdjsdd {
    background: #995098;
    color: #fff;
  }

  .cardssss {
    background: #ededed;
  }

  .boderrrrraddedcolor .cardssss {
    padding-bottom: 30px;
  }

  .cardssss img {
    margin-top: 10px;
    height: 250px;
  }

  .buttonsecc {
    margin-top: 23px;
  }

  .buttonsecc button {
    font-size: 17px;
    line-height: 17px;
    width: 128px;
    height: 37px;
  }

  .accorddionmobileview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cardlocation {
    width: 43%;
  }

  .imagepopupnws {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 768px) and (min-width: 600px) {
  .neighbourhoodcontiner .container {
    max-width: 500px;
  }

  .neighbiurnewcards {
    flex-wrap: wrap;
    column-gap: 5%;
  }

  .searchhoodfilter {
    max-width: 400px;
    height: 45px;
    padding-left: 31px;
    font-size: 12px;
  }

  .searchhoodfilter::placeholder {
    font-size: 14px;
  }

  .searchbuttonfilt {
    width: 20%;
    font-size: 12px;
    height: 37px;
    right: 5.3%;
    top: 3.9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .alphapetfiltersection .girdcolumn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .alpabutton {
    width: 35px;
    height: 35px;
    font-size: 15px;
    border: none;
    padding: 0;
    flex-shrink: 0;
    border-right: 1px solid #acacac;
  }

  .alpabutton:last-child {
    padding-right: 0;
  }

  .readmorelink a {
    padding-left: 30px;
  }

  .carcontentsnew h4 {
    font-size: 16px;
    padding-left: 25px;
    line-height: 108%;
    width: 86%;
  }

  .neighbourcardnew {
    width: 45%;
  }

  .neighimg {
    height: 142px;
    object-fit: cover;
  }

  .carcontentsnew h5 {
    font-size: 14px;
    line-height: 25px;
    margin-top: 7px;
    padding-left: 28px;
  }

  .carcontentsnew .pincodestyle {
    font-size: 13px;
  }

  .readmorelink {
    margin-top: 10px;
    padding-top: 10px;
  }

  .titlenamecontent {
    font-size: 20px;
    min-height: fit-content;
  }

  .detailacrdsss img {
    height: 180px;
  }

  .detailsmap {
    padding: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .detailsmap p {
    margin-top: 13px;
  }

  .detailacrdsss {
    width: 62%;
  }

  .locationmapin {
    justify-content: center;
    column-gap: 5.5%;
  }

  .popupseacrhinpout {
    padding-top: 50px;
    padding-bottom: 36px;
    background-position: center 70%;
    height: 360px;
    max-width: 505px;
  }

  .popupseacrhinpout .searchhoodfilter {
    max-width: 375px;
  }

  .popupseacrhinpout .searchbuttonfilt {
    width: 20%;
    right: 8.3%;
    top: 4px;
  }

  .popupseacrhinpout .workIntro h1 {
    font-size: 60px;
    line-height: 64px;
  }

  .popupseacrhinpout .workIntro p {
    font-size: 17px;
    line-height: 26px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
  }

  .filtersearchnewmain {
    margin-top: 37px;
  }

  /* mobile-css */

  .clickheretoexplorelocation {
    height: 47px;
    width: 145px;
    margin-left: -49px;
    font-size: 10px;
  }

  .inputmapsearchss {
    height: 47px;
    width: 121px;
    font-size: 11px;
    padding-right: 29px;
    letter-spacing: 0.5px;
  }

  .slectmapoption {
    font-size: 14px;
    line-height: 100%;
  }

  .submainlocationdd input {
    width: 87px;
    padding: 5px;
  }

  .submainlocationdd {
    height: 60px;
  }

  .locationsvginput {
    width: 19px;
    height: 17px;
  }

  .mainselectinputss {
    padding-right: 5px;
    column-gap: 0;
    padding-left: 10px;
  }

  .slectmapoption option {
    font-size: 14px;
  }

  /* mobile-css */
  .popupneigbhbourh {
    flex-direction: column;
  }

  .leftsidepopup {
    padding-left: 0;
    width: 100%;
    padding-top: 60px;
  }

  .leftsidescrolll {
    padding-left: 5%;
    display: flex;
    column-gap: 15px;
    overflow-x: scroll;
    align-items: center;
    padding-bottom: 10px;
  }

  .pointerdiv {
    font-size: 15px;
    padding-top: 0px;
    width: max-content;
    flex-shrink: 0;
    padding: 10px;
  }

  .pointerdiv.buttonactivated {
    border-radius: 0;
    padding-bottom: 7px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin-left: 10px;
  }

  .pointerdiv.buttonactivated::before {
    content: "";
    height: 100%;
    width: 1px;
    background-color: #b16caf;
    position: absolute;
    left: -10px;
  }

  .pointerdiv.buttonnonactivated {
    border-bottom: none;
    border-left: 1px solid #b16caf;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    height: max-content;
  }

  .locationname br {
    display: none;
  }

  .locationname {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 25px;
  }

  .locationpopupmain {
    max-width: 533px;
  }

  .rightsidepopup {
    width: 100%;
    background-position: bottom;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .popuprightsidecontent {
    column-gap: 20px;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    height: 500px;
    overflow-y: scroll;
  }

  .butoonsearchbutton {
    width: 100%;
    font-size: 13px;
  }

  .popuprightsidecontent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    overflow-x: hidden;
    margin: 0;
  }

  .popuprightsidecontent .butoonsearchbutton {
    max-width: 100%;
    box-sizing: border-box;
    height: max-content;
  }

  .popupcloselocation {
    border: 1.8px solid #fff;
    color: #fff;
    width: 35px;
    height: 35px;
    font-size: 17px;
    top: -26%;
    right: 4%;
  }

  .popupseacrhinpout .popupcloselocation {
    border: 1.8px solid #050505;
    color: #000;
    top: 5%;
  }

  .locationiframe {
    height: 500px;
    margin-top: 50px;
  }

  .fontsizeaccordion {
    font-family: "29LT Bukra";
    font-weight: 600;
    font-size: 19px;
  }

  .fontxonatjdjsdd {
    padding: 14px 18px;
    background: #f5f5f5;
    padding-right: 15px;
  }

  .arrowfontsup {
    font-family: "29LT Bukra";
    font-weight: 600;
    font-size: 22px;
  }

  .boderrrrr {
    border: 1px solid rgba(0, 0, 0, 0.09);
    width: 480px;
    margin-bottom: 19px;
  }

  .boderrrrraddedcolor .fontxonatjdjsdd {
    background: #995098;
    color: #fff;
  }

  .cardssss {
    background: #ededed;
  }

  .boderrrrraddedcolor .cardssss {
    padding-bottom: 30px;
  }

  .cardssss img {
    margin-top: 10px;
    height: 250px;
  }

  .buttonsecc {
    margin-top: 23px;
  }

  .buttonsecc button {
    font-size: 17px;
    line-height: 17px;
    width: 128px;
    height: 37px;
  }

  .accorddionmobileview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cardlocation {
    width: 48%;
  }

  .imagesecriorrss {
    width: 50px;
    height: 50px;
  }

  .bodycardsection h3 {
    font-size: 12px;
    margin-bottom: 0;
    width: 100%;
  }

  .locationdescription {
    font-size: 12px;
    margin-top: 2px;
  }

  .locationamee {
    font-size: 12px;
  }

  .locationimagess {
    width: 12px;
  }

  .imagepopupnws {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 600px) {
  .neighbourhoodcontiner .container {
    max-width: 100%;
  }

  .neighbiurnewcards {
    flex-wrap: wrap;
    column-gap: 5%;
    justify-content: center;
  }

  .searchhoodfilter {
    max-width: 310px;
    height: 40px;
    padding-left: 23px;
    font-size: 14px;
    padding-top: 8px;
  }

  .searchhoodfilter::placeholder {
    font-size: 11px;
  }

  .searchbuttonfilt {
    width: 22%;
    font-size: 10px;
    height: 32px;
    right: 1.3%;
    top: 3.9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .alphapetfiltersection .girdcolumn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    max-width: 310px;
  }

  .alpabutton {
    width: 35px;
    height: 35px;
    font-size: 15px;
    border: none;
    padding: 0;
    flex-shrink: 0;
    border-right: 1px solid #acacac;
  }

  .alpabutton:last-child {
    padding-right: 0;
  }

  .readmorelink a {
    padding-left: 30px;
  }

  .carcontentsnew h4 {
    font-size: 16px;
    padding-left: 25px;
    line-height: 108%;
    width: 86%;
  }

  .neighbourcardnew {
    width: 330px;
  }

  .neighimg {
    height: 142px;
    object-fit: cover;
  }

  .carcontentsnew h5 {
    font-size: 14px;
    line-height: 25px;
    margin-top: 7px;
    padding-left: 28px;
  }

  .carcontentsnew .pincodestyle {
    font-size: 13px;
  }

  .readmorelink {
    margin-top: 10px;
    padding-top: 10px;
  }

  .carcontentsnew {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .alphapetfiltersection {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .neighbourhoodcontiner .seachconatiners {
    padding-left: 0;
    padding-right: 0;
    max-width: 300px;
  }

  .titlenamecontent {
    font-size: 20px;
    min-height: fit-content;
  }

  .detailacrdsss img {
    height: 200px;
  }

  .detailsmap {
    padding: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .detailsmap p {
    margin-top: 13px;
  }

  .detailacrdsss {
    width: 330px;
  }

  .locationmapin {
    justify-content: center;
    column-gap: 5.5%;
  }

  .showingloactionsss {
    margin-top: 30px;
    margin-left: 18%;
  }

  .filtersearchnew .searchhoodfilter {
    background-position: 8px center;
    background-size: 20px;
    padding-left: 30px;
  }

  .popupseacrhinpout {
    padding-top: 70px;
    padding-bottom: 36px;
    background-position: center 72%;
    height: 350px;
    max-width: 340px;
    padding-left: 0;
    padding-right: 0;
  }

  .popupseacrhinpout .searchhoodfilter {
    max-width: 320px;
    height: 46px;
    padding-right: 0;
  }

  .popupseacrhinpout .searchbuttonfilt {
    width: 26%;
    right: 1.3%;
    top: 4.4px;
    height: 37px;
    font-size: 12px;
  }

  .popupseacrhinpout .workIntro h1 {
    font-size: 49px;
    line-height: 55px;
  }

  .popupseacrhinpout .workIntro p {
    font-size: 15px;
    line-height: 24px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 13px;
  }

  .filtersearchnewmain {
    margin-top: 28px;
  }

  .popupcloselocation {
    border: 1px solid #050505;
    width: 30px;
    height: 30px;
    font-size: 15px;
    top: 5%;
    right: 5%;
  }

  .popupseacrhinpout .searchhoodfilter::placeholder {
    font-size: 12px;
    letter-spacing: 0px;
  }

  .popupneigbhbourh {
    flex-direction: column;
  }

  .leftsidepopup {
    padding-left: 0;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 10px;
  }

  .leftsidescrolll {
    padding-left: 5%;
    display: flex;
    column-gap: 15px;
    overflow-x: scroll;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 15px;
  }

  .pointerdiv {
    font-size: 14px;
    padding-top: 0px;
    width: max-content;
    flex-shrink: 0;
    padding: 10px;
  }

  .pointerdiv.buttonactivated {
    border-radius: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin-left: 10px;
    border-radius: 20px;
  }

  .pointerdiv.buttonactivated::before {
    content: "";
    height: 100%;
    width: 1px;
    background-color: #b16caf;
    position: absolute;
    left: -10px;
  }

  .pointerdiv.buttonnonactivated {
    border-bottom: none;
    border-left: 1px solid #b16caf;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    height: max-content;
  }

  .pointerdiv.buttonnonactivated:first-child {
    border-left: 0;
  }

  .locationname br {
    display: none;
  }

  .locationname {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 25px;
  }

  .locationpopupmain {
    max-width: 533px;
  }

  .rightsidepopup {
    width: 100%;
    background-position: bottom;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .popuprightsidecontent {
    column-gap: 20px;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    height: 300px;
    overflow-y: scroll;
  }

  .butoonsearchbutton {
    width: 100%;
    font-size: 13px;
  }

  .popuprightsidecontent {
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
    overflow-x: hidden;
    margin: 0;
    padding-right: 10px;
  }

  .popuprightsidecontent .butoonsearchbutton {
    max-width: 100%;
    box-sizing: border-box;
    height: max-content;
    font-size: 14px;
  }

  .popupcloselocation {
    border: 1.8px solid #fff;
    color: #fff;
    width: 35px;
    height: 35px;
    font-size: 17px;
    top: -45%;
    right: 7%;
  }

  .iconsimagelocation img {
    width: 18px;
    height: 18px;
    margin-top: 2px;
  }

  .inputmapsearchss {
    height: 38px;
    width: 86px;
    font-size: 12px;
    padding-right: 0px;
    margin-left: 18px;
    font-family: "29LT Bukra";
    font-weight: 600;
  }

  .slectmapoption {
    font-size: 14px;
    max-width: 108px;
  }

  .submainlocationdd {
    top: -28px;
    height: 50px;
    padding-right: 3px;
    width: 350px;
    overflow: visible;
  }

  .submainlocationdd input {
    max-width: 110px;
    padding: 10px 0 10px 13px;
  }

  .locationsvginput {
    width: 18px;
    height: 18px;
  }

  .slectmapoption option {
    font-size: 14px;
    max-width: 108px;
  }

  .mainselectinputss {
    padding-right: 0px;
    padding-left: 10px;
    column-gap: 0;
  }

  .locationiframe {
    height: 400px;
    margin-top: 30px;
    width: 100%;
  }

  .submainlocationdd input::placeholder {
    font-size: 14px;
  }

  .hoverlocationsection {
    padding-bottom: 30px;
  }

  .popupseacrhinpout .popupcloselocation {
    border: 1.8px solid #050505;
    color: #000;
    top: 5%;
  }

  .changethelocation {
    margin-top: 110px;
  }

  .clickheretoexplorelocation {
    font-weight: 500;
    height: 39px;
    border-radius: 20px;
    width: max-content;
    /* margin-left: -49px; */
    padding: 3px 20px 3px 20px;
    font-size: 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: absolute;
    top: 72px;
    overflow: visible;
    left: 38%;
  }

  .pointerdiv.buttonactivated:nth-of-type(1)::before {
    width: 0;
  }

  /* accordion */

  .fontsizeaccordion {
    font-family: "29LT Bukra";
    font-weight: 600;
    font-size: 16px;
  }

  .fontxonatjdjsdd {
    padding: 14px 18px;
    background: #f5f5f5;
    padding-right: 15px;
  }

  .arrowfontsup {
    font-family: "29LT Bukra";
    font-weight: 600;
    font-size: 18px;
  }

  .boderrrrr {
    border: 1px solid rgba(0, 0, 0, 0.09);
    width: 330px;
  }

  .boderrrrraddedcolor .fontxonatjdjsdd {
    background: #995098;
    color: #fff;
  }

  .cardssss {
    background: #ededed;
  }

  .boderrrrraddedcolor .cardssss {
    padding-bottom: 30px;
  }

  .cardssss img {
    margin-top: 10px;
  }

  .buttonsecc {
    margin-top: 20px;
  }

  .accorddionmobileview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .cardlocation {
    width: 100%;
  }

  .bodycardsection h3 {
    font-size: 13px;
    line-height: 18px;
  }

  .fontfamilyyy {
    font-size: 45px;
    line-height: 96%;
  }

  .relatedsliderdivmain .slick-slide {
    padding-right: 0;
    padding-left: 0;
  }

  .arrorwwwwidth {
    width: 47px;
    height: 47px;
  }
}

/* .mainlocationdd {
  display: none;
} */

/* .clickheretoexplorelocation {
  display: none;
} */