@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.ExploreChennaiContainer {
  padding-top: 0px;
  margin-top: 30px;
}

.chennaiInvestmentsHeading {
  font-family: "NewAmsterdam";
  color: #a44294;
  font-size: clamp(62px, 8vw, 100px);
  line-height: clamp(48px, 6vw, 77px);
}

.chennaiInvestmentsHeadingSub {
  font-family: "29LT Bukra Regular";
  color: #000;
  margin-top: 10px;
  font-weight: 500;
  font-size: clamp(14px, 1.5vw, 16px);
  line-height: clamp(22px, 2vw, 26px);
}

.ExploreInvestContainerdiv {
  margin-top: 80px;
}

.ExploreChennaiContainer .slick-track {
  padding-top: 1%;
}
.ExploreChennaiContainer .space-y-4 {
  margin-bottom: 20px;
}
.exploreSectionContainer {
  display: flex;
  column-gap: 25px;
  flex-wrap: wrap;
  row-gap: 25px;
}
.exploreSectionFlex {
  display: flex !important;
  align-items: center;
  border: 1px solid #e7e7ea;
  width: 277px !important;
  column-gap: 15px;
  padding: 19px 15px;
  border-radius: 10px;
  position: relative;
  transition: transform 0.6s ease, box-shadow 1.5s ease;
  -webkit-transition: transform 0.6s ease, box-shadow 1.5s ease;
  -moz-transition: transform 0.6s ease, box-shadow 1.5s ease;
  -ms-transition: transform 0.6s ease, box-shadow 1.5s ease;
  -o-transition: transform 0.6s ease, box-shadow 1.5s ease;
}

.exploreSectionFlex:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  border: 1px solid #995098;
}

.exploreSectionFlex img:first-child {
  width: 70px;
  height: 70px;
}

.exploreSectionFlex h3 {
  font-family: "29LT Bukra SmBd";
  color: #a44294;
  font-size: 20px;
  line-height: 25px;
}

.exploreSectionFlex h3 span {
  font-family: "29LT Bukra SmBd";
  color: #818181;
  font-size: 15px;
}
.exploreSectionFlex h5 {
  font-family: "29LT Bukra SmBd";
  color: #818181;
  font-size: 15px;
}

.arrowIcons {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 9%;
  right: 4%;
  background-image: url("../../../public/images/icons/rightArrowsvg.svg");
  background-repeat: repeat;
  background-size: contain;
  transition: opacity 0.3s ease-in-out;
}
.exploreSectionFlex:hover .arrowIcons {
  background-image: url("../../../public/images/icons/RightArrow.svg");
}
.exploreSectionFlex:hover .arrowIcons {
  background-image: url("../../../public/images/icons/RightArrow.svg");
}

.pointcastSticky {
  position: fixed;
  /* bottom: 30px; */
  bottom: 110px;

  right: 10px;
  z-index: 5;
}
.pointcastSticky img {
  width: 120px;
  width: 100px;
}

.nammaStorieslink {
  /* bottom: 226px; */
  /* top: 50%; */
  bottom: 205px;
  /* top: 50%; */
}

.carRallylink {
  /* top: 60%; */
  bottom: 308px;
}

@media (max-width: 1600px) and (min-width: 1300px) {
  .exploreSectionFlex {
    width: 235px !important;
    padding: 12px 10px;
  }

  .exploreSectionFlex h3 {
    font-size: 16px;
    line-height: 26px;
  }

  .exploreSectionFlex h3 span {
    font-size: 13px;
  }

  .exploreSectionFlex h5 {
    font-size: 13px;
  }
  .exploreSectionFlex img:first-child {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 1300px) and (min-width: 1024px) {
  .exploreSectionFlex {
    width: 218px !important;
    padding: 12px 10px;
  }

  .exploreSectionFlex h3 {
    font-size: 16px;
    line-height: 26px;
  }

  .exploreSectionFlex h3 span {
    font-size: 13px;
  }

  .exploreSectionFlex h5 {
    font-size: 13px;
  }
  .exploreSectionFlex img:first-child {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 1300px) and (min-width: 1250px) {
  .buttonsTredingSections {
    left: 77%;
  }
}

@media (max-width: 1024px) and (min-width: 686px) {
  .exploreChennaiContiner {
    width: 787px;
  }
  .exploreSectionFlex {
    width: 218px !important;
    padding: 12px 10px;
  }

  .exploreSectionFlex h3 {
    font-size: 16px;
    line-height: 26px;
  }

  .exploreSectionFlex h3 span {
    font-size: 13px;
  }

  .exploreSectionFlex h5 {
    font-size: 13px;
  }
  .exploreSectionFlex img:first-child {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .chennaiInvestmentsHeadingSub {
    font-family: "29LT Bukra Regular";
    color: #000;
    margin-top: 10px;
    font-weight: 500;
    font-size: clamp(14px, 1.5vw, 16px);
    line-height: clamp(22px, 2vw, 26px);
  }

  .ExploreInvestContainerdiv {
    margin-top: 40px;
  }
  .chennaiInvestmentsHeading {
    font-size: 60px;
    line-height: 50px;
    width: 100%;
  }

  .ExploreChennaiContainer .space-y-4 {
    margin-bottom: 20px;
    margin-bottom: 7px;
  }
  .ExploreChennaiContainer {
    /* padding-top: 45px; */
    padding-top: 40px;
    margin-top: 0;
  }
  .ExploreChennaiContainer {
    padding-bottom: 0;
  }

  .exploreSectionFlex {
    width: 85% !important;
    width: 92% !important;
    padding: 15px 15px;
  }

  .ExploreChennaiContainer .slick-track {
    padding-top: 5%;
  }

  .exploreSectionFlex h3 {
    font-size: 16px;
    line-height: 26px;
    line-height: 19px;
  }

  .exploreSectionFlex h3 span {
    font-family: "29LT Bukra SmBd";
    color: #818181;
    font-size: 13px;
    font-size: 11px;
  }

  .exploreSectionFlex h5 {
    font-family: "29LT Bukra SmBd";
    color: #818181;
    font-size: 13px;
    font-size: 11px;
  }

  .exploreSectionFlex img:first-child {
    width: 60px;
    height: 60px;
  }
  .pointcastSticky img {
    width: 80px;
  }
}

@media (max-width: 768px) {
  .pointcastSticky img {
    width: 67px;
  }
}
