.herobannerSection {
  position: relative;
  z-index: 1;
}

.herobannerSection .relative {
  z-index: 0;
}

.herobannerSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -1;
  border-bottom: 4px solid #fff;
  background: linear-gradient(90deg,
      rgb(30 110 73) 0%,
      rgb(48 132 134) 50%,
      rgb(1 55 83) 100%);
  background-size: 200% 100%;
  background-position: 0% 0%;
  /* animation: animateGradient 6s ease infinite alternate; */
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.mobileBanneerHeroSlider {
  height: 100vh;
  width: auto;
}

@media (max-width: 1600px) and (min-width: 1500px) {
  .heroSliderDots {
    bottom: 36px;
  }
}

@media (max-width: 1500px) and (min-width: 1400px) {
  .mobileBanneerHeroSlider {
    height: 90vh;
    width: auto;
  }

  .heroSliderDots {
    bottom: 36px;
  }
}

@media (max-width: 1400px) and (min-width: 1300px) {
  .mobileBanneerHeroSlider {
    height: 85vh;
    width: auto;
  }

  .heroSliderDots {
    bottom: 36px;
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  .mobileBanneerHeroSlider {
    height: 77vh;
    width: auto;
  }

  .heroSliderDots {
    bottom: 36px;
  }
}

@media (max-width: 1200px) and (min-width: 1100px) {
  .mobileBanneerHeroSlider {
    height: 70vh;
    width: auto;
  }

  .heroSliderDots {
    bottom: 26px;
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  .mobileBanneerHeroSlider {
    height: 60vh;
    width: auto;
  }

  .heroSliderDots {
    bottom: 26px;
  }
}

@media (max-width: 1000px) and (min-width: 900px) {
  .mobileBanneerHeroSlider {
    height: 60vh;
    width: auto;
  }

  .heroSliderDots {
    bottom: 26px;
  }
}

@media (max-width: 900px) and (min-width: 800px) {
  .mobileBanneerHeroSlider {
    height: 50vh;
    width: auto;
  }

  .heroSliderDots {
    bottom: 26px;
  }
}

@media (max-width: 580px) {
  .DesktopBanner {
    display: none;
  }

  .heroSliderDots {
    bottom: 2%;
    /* bottom: 0; */
  }
}

@media (min-width: 580px) {
  .MobileBanner {
    display: none;
  }
}


@media (max-width:800px) and (min-width:600px) {
  .mobileBanneerHeroSlider {

    width: 120%;
    height: 500px;

  }

  .bottom-19 {
    bottom: calc(var(--spacing) * 10);
}

}

@media (max-width: 760px) {
  .mobileBanneerHeroSlider {
    height: 80vh !important;
    width: 100%;
    /* object-fit: contain !important; */
    margin-top: 60px;
  }


  .herobannerSection {
    margin-top: 40px;
    /* margin-top: -54px; */
  }

  .pointcastSticky {
    bottom: 121px;
  }

  .carRallylink {
    bottom: 280px;
  }
}

@media (max-width: 500px) {
  .mobileBanneerHeroSlider {
    height: 87vh !important;
    width: 100%;
    margin-top: 60px;
  }
}

@media (max-width: 400px) {
  .mobileBanneerHeroSlider {
    height: 80vh !important;
    width: 100%;
    margin-top: 60px;
  }
}