.menuBarFullContainer {
  display: flex;
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100000;
  scrollbar-width: none;
}

.menuBarFullFirstSection {
  width: 60.5%;
  background: rgba(98, 104, 166, 0.8);
}

.closeButtonMenubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButtonMenubar img:first-child {
  width: auto;
  object-fit: none;
}

.closeButtonMenubar img:nth-child(2) {
  width: auto;
  object-fit: none;
  cursor: pointer;
}

.mobileNavLinks {
  font-family: "Poppinsthin";
  font-weight: 600;
  text-transform: uppercase;
  color: #808080;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  letter-spacing: 2px;
  font-size: clamp(22px, 4vw, 44px);
  line-height: clamp(36px, 6vw, 74px);
  padding: 7px 10px;
}

.menuBarFullSecondSection {
  width: 39.5%;
  padding-left: 4%;
  padding-top: 2%;
  background: #fff;
  padding-right: 2%;
}

.menuBarLinksContent li {
  /*font-family: "Poppinsthin";
  font-weight: 600;
  text-transform: uppercase;
  color: #808080;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  letter-spacing: 2px;
  font-size: clamp(22px, 4vw, 44px);
  line-height: clamp(36px, 6vw, 74px);
  */font-family: "Poppinsthin";
  font-weight: 600;
  text-transform: uppercase;
  color: #808080;
  width: 100%;
  letter-spacing: 0px;
  font-size: clamp(22px, 4vw, 44px);
  line-height: clamp(36px, 6vw, 74px);
  position: relative;
  transition: color 0.3s ease, letter-spacing 0.3s ease;
  /*Neededforabsolute:;
  :;


}

.menuBarLinksContent li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, #ddd, #f1f1f1);
}

.menuBarLinksContent li:last-child::after {
  background: none; /* or display: none; */
}

.menuBarLinksContent li:hover {
  font-family: "Poppinsbold";
  color: #844078;
  cursor: pointer;
  font-weight: 100;
  letter-spacing: 0px;
}

.menuBarLinksContent li:last-child {
  border: none;
}

.menuBarLinksContent {
  margin-top: 50px;
  margin-left: 10px;
}
.SuperCehnnaiLogoImages {
  width: 139px !important;
  height: 108px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/public/images/super-chennai-logo-final-header.png);
}

.closeButtonMenuBaDesktop {
  width: 50px;
  height: 50px;
}

@media (max-width: 1600px) {
  .menuBarLinksContent li {
    font-size: 29px;
    line-height: 52px;
  }

  .menuBarLinksContent {
    margin-top: 0;
    padding: 0 10px;
  }
}

@media (max-width: 1000px) and (min-width: 768px) {
  .menuBarFullFirstSection {
    display: none;
  }

  .menuBarFullSecondSection {
    width: 100%;
  }

  .containerMenuBar {
    margin: 2% 1% 2% 1%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .menuBarLinksContent {
    max-width: 500px;
    margin-right: 0;
  }
  .menuBarLinksContent li {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .closeButtonMenuBaDesktop {
    display: none;
  }
  .menuBarLinksContent {
    padding: 0;
    margin: 0;
  }
  .menuBarLinksContent li::after {
    background: none;
  }

  .menuBarLinksContent li:last-child {
    border: none;
  }
  .mobileNavLinks {
    color: #fff;
    font-size: 19px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .MenuBarTitleSection {
    margin-top: 15px;
    background: #1a0f6b;
    padding-top: 20px;
  }
  .closeButtonMenubar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
  }

  .SuperCehnnaiLogoImages {
    /* width: 136px !important;
    height: 147px;
    object-fit: cover !important;
    background-image: url("../../../public/images/super-chennai-logo-final.png"); */
    /* width: 136px !important;
    height: 147px;
    background-image: url("/images/super-chennai-logo-final.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    width: 156px;
    height: 115px;
    /* background-image: url("../../../public/images/super-chennai-logo-final-header.png"); */
    background-image: url("/public/images/super-chennai-logo-final.png");
    background-size: contain;
    z-index: 10;
  }

  .menuBarMain {
    margin-top: 50px;
  }
  .menuBarMain:last-child {
    margin-top: 0px;
  }

  .closeButtonMenubar .SuperCehnnaiLogoImages {
  }

  .closeButtonMenubar img:nth-child(2) {
    width: 50px;
    object-fit: contain;
    cursor: pointer;
  }
  .menuBarFullContainer {
    flex-direction: column;
  }

  .menuBarFullSecondSection {
    width: 100%;
    padding-left: 4%;
    padding-top: 2%;
    background: #2b1f81;
    padding-right: 4%;
  }

  .menuBarLinksContent li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .menuBarLinksContent li {
    font-size: 19px;
    line-height: 50px;
    color: #fff;
    padding-left: 10px;
  }

  .titleMenuBar {
    font-family: "Poppinsthin";
    font-weight: 600;
    text-transform: uppercase;
    color: #8b82dd;
    width: 100%;
    /* border-bottom: 1px solid #dddddd; */
    letter-spacing: 2px;
    padding: 7px 10px;
    font-size: 16px;
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .containerMenuBar {
    margin-left: 0;
  }
  .closeButtonMenuBarMobile {
    display: none;
  }

  .menuBarMain {
    display: none;
  }
}

/* Popup Css */

.um-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.um-modal {
  background: #fff;
  width: 80%;
  max-width: 900px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.um-show {
  transform: scale(1);
}

.um-close {
  position: absolute;
  top: 10px;
  right: 18px;
  background: none;
  font-size: 43px;
  border: none;
  cursor: pointer;
  font-family: NewAmsterdam;
  font-family: "29LT Bukra Regular";
}

.um-content {
  display: flex;
  height: 100%;
}

.um-image-section {
  flex: 1;
  background: #f5f5f5;
}

.um-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding: 3%;
  background: #fff;
}

.um-form-section {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.um-form-section h2 {
  margin-bottom: 10px;
  font-family: NewAmsterdam;
  font-size: clamp(40px, 6vw, 60px);
  line-height: clamp(44px, 5vw, 50px);
  color: #995098;
}

.um-form-section input,
.um-form-section textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-family: "29LT Bukra Regular";
}

.um-form-section textarea {
  resize: vertical;
  height: 100px;
}

.um-actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 15px;
}

.um-btn-secondary,
.um-btn-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.um-btn-secondary {
  background: #ccc;
  font-family: "29LT Bukra Regular";
}

.um-btn-primary {
  background: #995098;
  color: white;
  font-family: "29LT Bukra Regular";
}

/* Popup Css */
