.siderbar-properties {
  width: 25%;
  border: 1px solid red;
  padding: 24px 20px 0 20px;
  padding: 24px 20px 0 20px;
  background-color: #fff;
  border: 1px solid #ced4dd;
  border-radius: 8px;
  margin-bottom: 10px;

  position: sticky; /* Makes it stick */
  top: 20px; /* Distance from top of viewport */
  align-self: flex-start; /* Prevents stretching in flex layout */
}

.PropertiesCardsContainer {
  margin-top: 20px;
}
.mainConiatinerPropertyList {
  padding-top: 50px;
  padding-bottom: 50px;
}
.sidebar-stylescss {
  display: flex;
  column-gap: 3%;
}

.siderbar-card {
  width: 73%;
}

.applied-filters {
  display: flex;
  justify-content: space-between;
}

.selected-filters {
  margin-top: 20px;
}

.selected-individual-filter {
  border: 1px solid #a44294;
  color: #fff;
  font-weight: 600;
  background: #a44294;
  width: max-content;
  max-width: unset;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px 0 10px;
}

.selected-individual-filter span {
}

.selected-individual-filter img {
  width: 15px;
  height: 15px;
  filter: invert();
}

.selcetedapplied {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #091e42;
  display: block;
  text-align: left;
  vertical-align: middle;
}

.listing-individual-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-individual-filter img {
  width: 17px;
  height: 14px;
  margin-top: 2px;
}
.selected-individual-listing span {
}

.listing-filters {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
}

.listing-filters:last-child {
  border: none;
}

.selected-individual-listing {
  display: flex;
  padding: 5px 13px;
  background: white;
  border: 1px solid #c1c1c1;
  width: max-content;
  border-radius: 25px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.selected-individual-listing img {
  width: 15px;
}
.individual-listing-filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.selected-individual-listing span {
  text-align: center;
  line-height: 1.3;
}

.heading-filters {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #091e42;
  display: block;
  text-align: left;
  vertical-align: middle;
}

.plusmorefilters span {
  /* color: #0078db; */
  color: #a44294;
  border: none;
  background: rgba(0, 0, 0, 0);
  padding: 0;
  font-weight: 600;
  cursor: pointer;
}

.activeStateFilter {
  background-color: #a44294;
  color: #fff;
}

.activeStateFilter img {
  filter: invert();
}

.checkboxfilterselected:first-child {
  margin-top: 10px;
}

.checkboxfilterselected {
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin-top: 2px;
}
.sidebarrightCards {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #000;
  display: flex;            
  justify-content: space-between;
  align-items: center;       
  text-align: left;
  margin-bottom: 16px;       
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.locationsaboutarea {
  background: #fffbf3;
  border: 1px solid #ebecf0;
  border-radius: 4px;
  margin-bottom: 15px;
  line-height: 26px;
  font-weight: 600;
  padding: 10px 0px;
  width: auto !important;
  cursor: pointer;
  height: 48px;
  padding-left: 12px;
  margin-top: 15px;
}

.locationsaboutarea span {
  color: #a44294;
  padding-left: 0px;
}

.filteredsectionmain {
  display: flex;
  flex-wrap: wrap;
}

.filteredsectionmain div {
  background: #e0e0e0;
  padding: 4px 10px;
  border-radius: 20px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.aboutPlotsSize {
  display: flex;

  margin-top: 15px;
}
.aboutPlotsSize div {
  border-right: 1px solid #7b7b7b;
  padding: 0 15px;
}
.aboutPlotsSize div:first-child {
  padding-left: 0;
}
.aboutPlotsSize div:last-child {
  border: none;
}

.aboutPlotsSize div span:first-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #a44294;
  margin-bottom: 4px;
  white-space: initial;
}

.mainPropertiesCards {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainPropertiesCards .propertyImage {
  width: 40%;
  width: 36%;
  border-radius: 10px;
}

.propertyDetails {
  width: 64%;
  padding: 20px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* padding: 15px 20px; */
}

.propertyDetails h4 {
  /* font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  color: #010c1f;
  display: block; */

  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;
  color: #a44294;
  display: block;
}

.propertyDetails h5 {
  color: #010c1f;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  margin-right: 4px;
  margin-top: 6px;
}

.aboutPlotsSize span:last-child {
  line-height: 15px;
  font-size: 14px;
  margin-top: 1px;
  font-weight: 500;
}

.PropertiesCardsSection {
  margin-top: 20px;
}
.text-capitalize {
  text-transform: capitalize;
}


.propertContent {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000;
  margin-top: 15px;
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.uploadedDetailsproperty {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.property-batch {
  background-color: #f3f3f3;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

.propertyViewDetails {
  color: #a44294;
  margin-top: 0px;
  font-weight: 600;
}

.uploadedDetailsproperty {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.propertyViewButton {
  display: flex;
  column-gap: 10px;
}

.propertyViewButton button:first-child {
  padding: 8px 20px;
  border: 1px solid #a44294;
  border-radius: 7px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #a44294;
  background-color: #fff;
  cursor: pointer;
}
.propertyViewButton button:nth-child(2) {
  padding: 8px 20px;
  border: 1px solid #a44294;
  border-radius: 7px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  background-color: #a44294;
  cursor: pointer;
}

.ownerproperty {
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  color: #42526e;
}

.monthsGaoProperty {
  color: #42526e;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.propertyAroWwCLick {
  width: 30px;
  height: 17px;
  margin-top: 5px;
}
