/* Accomodation-Banner */

/* Accomodation-Banner */

/* Second Section  */

/* Second Section  */

/* ----------Running Text Section----------- */

.CostOflivingBackground {
  position: absolute;
  bottom: 8%;
  left: 0;
  white-space: nowrap;
  width: 200%;
  /* animation: scrollText 20s linear infinite; */
  z-index: 0;
  opacity: 0.025;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation: scrollText 50s linear infinite;
}

.CostOflivingBackground p {
  font-family: "29LT Bukra SmBd";
  text-transform: uppercase;
  font-size: clamp(60px, 22vw, 280px);
  line-height: clamp(80px, 12vw, 150px);
}
.scroll-leftCostofLiving {
  animation-name: scrollLeftInvestPage;
}

.scroll-rightCostofLiving {
  animation-name: scrollRightVolunteer;
}

@keyframes scrollLeftInvestPage {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRightVolunteer {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ----------Running Text Section----------- */

.AccomodationInstaReel {
  padding-top: 0px;
}
.visitIntroParaSection.detailIntro {
  padding-bottom: 280px;
  margin-bottom: 46px;
}
.visitIntroParaSection.detailIntro .workdetailTextBackground {
  bottom: 0;
}
.visitIntroParaSection.detailIntro .workIntro h3 {
  font-family: "NewAmsterdam";
  font-size: 4vw;
  line-height: 1;
  margin-bottom: 10px;
  color: #995098;
}
.visitIntroParaSection.unicorns {
  padding-bottom: 280px;
}
.visitIntroParaSection.unicorns .workdetailTextBackground {
  bottom: 0;
}
.clcSecscrl {
  padding-bottom: 12vh;
  position: relative;
}
.clcSecscrl::before {
  content: "";
  position: absolute;
  width: 18%;
  height: 100%;
  top: 0;
  right: 0;
  background: url(/images/doted-bg.png) no-repeat top right;
  background-size: 100%;
  pointer-events: none;
}
.clcSecscrl .clcscrlCol {
  width: 50%;
  position: relative;
}
.clcscrlinLBox {
}
.clcscrlRight {
  position: relative;
}
.clcscrLtitle {
  width: 65%;
  margin-left: auto;
  padding: 3vw;
  margin-top: -4vw;
}
.clcscrLtitle h2 {
  font-family: "29LT Bukra SmBd";
  color: #ffffff;
  font-size: 3.5vw;
  line-height: 1;
  letter-spacing: 1px;
}
.clcscrLtitle h2 small {
  text-transform: uppercase;
  font-size: 1.6vw;
  margin-bottom: 10px;
}
.clcscrLtitle p {
  color: #f7f5f7;
  font-size: 1vw;
}
.clcscrLtitle .boxttlsec {
  position: absolute;
  bottom: -18px;
  right: 0;
  font-family: "29LT Bukra SmBd";
  color: #ffffff;
  font-size: 4.5vw;
  line-height: 1;
  opacity: 0.03;
}
.clcscrlinRBox {
  padding-inline: 3vw 15vw;
  position: relative;
}
.clcboxItemss {
  padding: 40px;
  border: 2px solid #e0cae0;
  margin-bottom: 20px;
  padding-left: 0;
  position: relative;
  border-bottom-right-radius: 4vw;
  background: #ffffff;
}
.clcscrlinRBox .clcboxItemss:last-child {
  margin-bottom: 0;
}
.clcboxItemss .clcboxIImg {
  width: 6vw;
  aspect-ratio: 1;
  display: -webkit-box;
  height: 130px;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  background: #fcebfc;
  margin-left: -1vw;
  border: 1px solid transparent;
}
.clcboxItemss .clcboxIImg img {
  width: 100%;
  -webkit-filter: brightness(1) invert(0);
  filter: brightness(1) invert(0);
  opacity: 1;
}
.clcboxItemss .clcboxICont {
  padding-left: 2vw;
  width: calc(100% - 6vw);
}
.clcboxItemss .clcboxICont h3 {
  font-family: "29LT Bukra SmBd";
  color: #7f397e;
  letter-spacing: -0.5px;
  margin-bottom: 6px;
  font-size: clamp(18px, 1.6vw, 32px);
  line-height: 1;
}
.clcboxItemss .clcboxICont p {
  /* font-size: 18px; */
  font-family: "29LT Bukra Regular";
  color: #3d3d3d;
  margin-top: 10px;
  font-size: clamp(15px, 1.5vw, 16px);
  line-height: clamp(24px, 2vw, 26px);
}
.clcboxItemss .clcboxICont p.linkpara {
  position: absolute;
  width: 2.5vw;
  aspect-ratio: 2/1;
  top: 30px;
  right: 30px;
  opacity: 0.5;
}
.clcboxItemss .clcboxICont p.linkpara a {
  display: block;
}
.clcboxItemss .clcboxICont p.linkpara a img {
  display: block;
  width: 100%;
}
.clcboxItemss:hover .clcboxICont p.linkpara {
  opacity: 1;
}
.clcboxItemss:hover .clcboxIImg {
  background: #7f397e;
  border-color: #995098;
}
.clcboxItemss:hover .clcboxIImg img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  opacity: 0.4;
}

.clcSecscrlTwo .clcscrlRight::after {
  content: "";
  position: sticky;
  display: block;
  width: 100%;
  height: 10vw;
  bottom: 0;
  right: 0;
  background: url(/images/clcSecscrlTwobfrbg.png) no-repeat top center;
  background-size: 100%;
  pointer-events: none;
}
.clcSecscrl.clcSecscrlTwo::before {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.clcSecscrlTwo .clcscrlinRBox {
  padding-top: 40px;
}

.clcSecscrlThree .clcscrlRight::after {
  content: "";
  position: sticky;
  display: block;
  width: 100%;
  height: 10vw;
  bottom: 0;
  right: 0;
  background: url(/images/clcSecscrlThreebfrbg.png) no-repeat top center;
  background-size: 100%;
  pointer-events: none;
}
.clcSecscrlThree .clcscrlinRBox {
  padding-top: 40px;
}
.clcscrlCol.clcscrlLft .clcscrlinLBox {
  padding-right: 50px;
}
.colorbgsec .clcscrlinRBox {
  padding-top: 50px;
}
.pattern-c .clcscrlinRBox {
  padding-top: 50px;
}
.colorbgsec.clcSecscrl::before {
  background: url(/images/doted-bg-w.png) no-repeat top right;
  background-size: 100%;
  pointer-events: none;
}

.bottomList {
  padding: 40px;
  border: 2px solid #e0cae0;
  margin-bottom: 20px;
  position: relative;
  border-bottom-right-radius: 4vw;
  background: #ffffff;
  width: 56%;
}
.bottomList h4 {
  font-family: "29LT Bukra SmBd";
  color: #7f397e;
  font-size: 1.6vw;
  line-height: 1;
  letter-spacing: -0.5px;
  margin-bottom: 6px;
}
.bottomList ul {
  padding: 0;
  margin: 0;
}
.bottomList ul li {
  padding: 0 0 5px 15px;
  margin: 0;
  list-style: none;
  position: relative;
}
.bottomList ul li::before {
  content: "";
  background: #83357a;
  width: 8px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 11px;
}

.imgcontent {
  padding: 140px 10% 0;
}
.imgLeft {
  width: 50%;
}
.imgText {
  width: 30%;
}
.imgcolTitle {
  margin-left: -4vw;
  padding: 3vw;
  color: #fff;
  font-size: 18px;
}
.imgcolTitle h2 {
  font-family: "29LT Bukra SmBd";
  color: #ffffff;
  font-size: 3.5vw;
  line-height: 1;
}
.imgcolTitle h2 small {
  text-transform: uppercase;
  font-size: 1.6vw;
  margin-bottom: 10px;
}
.bottomListIcon {
  width: 70%;
}
.bottomListIcon .clcboxItemss {
  border: none;
}
.bottomListIcon ul li {
  padding: 0 0 10px 15px;
  margin: 0;
  list-style: none;
  position: relative;
  color: #000;
  font-size: 18px;
}
.bottomListIcon ul li::before {
  content: "";
  background: #83357a;
  width: 8px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 11px;
}

/* New Style */

/* .foodlistsec .imgcontent {
  padding: 140px 10%;
}
.foodlistsec .imgcontent.pattern-a {
  padding-top: 0;
}
.foodListIcon {
  width: 80%;
}
.foodListIcon .clcboxItemss {
  border: none;
  border-right: none;
  border-radius: 0;
  padding: 0 80px 30px 0;
  background: transparent;
  position: relative;
  width: 100%;
}
.foodListIcon .clcboxItemss::after {
  content: "";
  position: absolute;
  right: 55px;
  width: 1px;
  height: 100%;
  background: #ccc;
}
.foodListIcon div:nth-child(2) .clcboxItemss::after {
  background: none;
}
.foodListIcon div:nth-child(3) {
  width: 100%;
  border-top: solid 1px #ccc;
  padding: 40px 0 0;
}
.foodListIcon div div:nth-child(3) {
  width: auto;
  border-top: none;
  padding: 0;
}
.foodListIcon div div {
  width: auto;
  border-top: none;
  padding: 0;
}
.foodListIcon div:nth-child(3) .clcboxItemss::after {
  background: none;
}
.foodListIcon div:nth-child(3) .clcboxItemss .clcboxICont p {
  min-height: auto;
}
.foodListIcon div {
  width: 50%;
}
.foodListIcon ul li {
  padding: 0 0 5px 15px;
  margin: 0;
  list-style: none;
  position: relative;
}
.foodListIcon ul li::before {
  content: "";
  background: #83357a;
  width: 8px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 11px;
}
.foodListIcon .clcboxItemss .clcboxICont p {
  margin-bottom: 30px;
  min-height: 100px;
}

.foodListIcon .clcboxItemss .clcboxIImg {
  background: transparent;
  padding: 0;
  width: 100px;
  height: 100px;
  filter: inherit;
}
.foodListIcon .clcboxItemss:hover .clcboxIImg {
  background: transparent;
  border-color: transparent;
}
.foodListIcon .clcboxItemss:hover .clcboxIImg img {
  filter: inherit;
  opacity: 1;
}
.exploreMorebuttonVisitChennai a {
  width: 175px;
  text-align: center;
  font-family: "29LT Bukra SmBd";
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 37px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(127 57 126);
  border-image: initial;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  color: #000;
}
.exploreMorebuttonVisitChennai a:hover {
  background: rgb(127 57 126);
  color: #fff;
}

.bottomListIcon .clcboxItemss .clcboxICont p {
  margin: 0 0 25px;
}
.imgcontent.pattern-a {
  padding-top: 0;
}
.bottomListIcon {
  background: transparent;
}
.bottomListIcon .clcboxItemss {
  background: transparent;
}
.bottomListIcon h5 {
  font-size: 22px;
  margin: 0px 0 15px;
  line-height: 22px;
}

.bottomListIcon ul li small {
  margin: 0 0 0 20px;
} */

.foodlistsec .imgcontent {
  padding: 140px 10%;
}
.foodlistsec .imgcontent.pattern-a {
  padding-top: 0;
}
.foodListIcon {
  width: 80%;
}
.foodListIcon .clcboxItemss {
  border: none;
  border-right: none;
  border-radius: 0;
  padding: 0 80px 30px 0;
  background: transparent;
  position: relative;
  width: 100%;
  margin: 0;
}
.foodListIcon .clcboxItemss::after {
  content: "";
  position: absolute;
  right: 55px;
  width: 1px;
  height: 90%;
  background: #ccc;
}
.foodListIcon div:nth-child(even) .clcboxItemss::after {
  background: none;
}

.foodListIcon.odd-count div:last-child div {
  width: auto;
  border-top: none;
  padding: 0;
  margin: 0;
}
.foodListIcon div .clcboxItemss .clcboxICont {
  margin: 0;
}
.foodListIcon.odd-count div:last-child .clcboxItemss::after {
  background: none;
}
.foodListIcon.odd-count div:last-child .clcboxItemss .clcboxICont p {
  min-height: auto;
}

.foodListIcon div {
  width: 50%;
  margin: 0 0 40px;
}
.foodListIcon.odd-count div:last-child {
  width: 100%;
  border-top: solid 1px #ccc;
  padding-top: 40px;
}
.foodListIcon ul li {
  padding: 0 0 5px 15px;
  margin: 0;
  list-style: none;
  position: relative;
}
.foodListIcon ul li::before {
  content: "";
  background: #83357a;
  width: 8px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 11px;
}
.foodListIcon .clcboxItemss .clcboxICont p {
  margin-bottom: 30px;
  min-height: 100px;
}

.foodListIcon .clcboxItemss .clcboxIImg {
  background: transparent;
  padding: 0;
  width: 100px;
  height: 100px;
  filter: inherit;
}
.foodListIcon .clcboxItemss:hover .clcboxIImg {
  background: transparent;
  border-color: transparent;
}
.foodListIcon .clcboxItemss:hover .clcboxIImg img {
  filter: inherit;
  opacity: 1;
}
.exploreMorebuttonVisitChennai a {
  width: 175px;
  text-align: center;
  font-family: "29LT Bukra SmBd";
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 37px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(127 57 126);
  border-image: initial;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  color: #000;
}
.exploreMorebuttonVisitChennai a:hover {
  background: rgb(127 57 126);
  color: #fff;
}

.bottomListIcon .clcboxItemss .clcboxICont p {
  margin: 0 0 25px;
}
.imgcontent.pattern-a {
  padding-top: 0;
}
.bottomListIcon {
  background: transparent;
}
.bottomListIcon .clcboxItemss {
  background: transparent;
}
.bottomListIcon h5 {
  font-size: 22px;
  margin: 0px 0 15px;
  line-height: 22px;
}

.bottomListIcon ul li small {
  margin: 0 0 0 20px;
  font-size: 15px;
}
/* Today */
.bottomListIcon .clcboxItemss {
  border-bottom: solid 1px #ccc;
  border-radius: 0;
}
.bottomListIcon div:last-child .clcboxItemss {
  border-bottom: none;
  border-radius: 0;
}
.pt0 {
  padding-top: 0 !important;
}
.iconImgdev .clcboxItemss .clcboxIImg {
  background: transparent;
  width: 10vw;
  height: 170px;
  margin-left: -4vw;
  padding: 0;
}
.iconImgdev .clcboxItemss:hover .clcboxIImg {
  background: transparent;
  border-color: transparent;
}
.iconImgdev .clcboxItemss .clcboxIImg img {
  filter: inherit;
  opacity: 1;
}

.pattern-b .clcscrlinRBox {
  padding-top: 50px;
}

.accordion-wrapper {
  display: none;
}

/* New Style */

/* ------------Resposive----------  */

@media (max-width: 1600px) and (min-width: 1300px) {
  .workIntro h3 {
    font-size: clamp(36px, 7vw, 102px);
    line-height: clamp(44px, 9vw, 94px);
  }

  .imgcontent {
    padding: 140px 5% 0;
  }
}
@media (max-width: 768px) {
  .accordion-wrapper {
  display: block;
}

.Tabs-wrapper{
  display: none;
}
  /* After Banner Section */
  .visitIntroParaSection.detailIntro .workIntro h3 {
    font-size: clamp(30px, 4vw, 80px);
  }
  .workIntro {
    padding: 0 2%;
  }

  .CostOflivingBackground {
    bottom: 0%;
  }
  /* After Banner Section */

  /* Moving Section  */

  .clcSecscrl {
    flex-direction: column;
  }
  .clcSecscrl .clcscrlCol {
    width: 100%;
  }
  .clcscrlCol.clcscrlLft .clcscrlinLBox {
    padding: 0px;
  }

  .clcboxItemss .clcboxIImg img {
    width: 70%;
  }
  .clcboxItemss .clcboxIImg {
    width: 60px;
    height: 60px;
    padding: 0;
  }
  .clcboxItemss {
    padding: 20px;
    border: 2px solid #e0cae0;
    padding-left: 0;
    position: relative;
    border-bottom-right-radius: 10vw 36px;
    background: #ffffff;
    padding-right: 10px;
  }

  .clcscrlinRBox {
    padding-left: 20px;
    padding-right: 20px;
  }

  .clcscrLtitle {
    width: 80%;
    margin-left: 0;
    padding: 4vw;
    margin-top: -10vw;
  }

  .clcscrLtitle h2 small {
    font-size: clamp(14px, 1.6vw, 32px);
  }
  .clcscrLtitle h2 {
    font-size: clamp(24px, 3.5vw, 64px);
  }

  .clcscrLtitle p {
    font-size: clamp(12px, 1vw, 20px);
    margin-top: 10px;
  }

  .clcboxItemss .clcboxICont p.linkpara {
    width: 7.5vw;
    top: 9px;
  }
  .visitIntroParaSection.detailIntro {
    padding-bottom: 30px;
    margin: 0px;
    padding-top: 35px;
  }

  .MainSectionHovered {
    margin-top: 50px;
  }
  .workIntro p {
    margin-top: 20px;
  }
  .workMainContainer {
    background-image: none;
  }

  /* New Style */

  .foodlistsec .imgcontent.pattern-a {
    flex-direction: column;
    padding: 24px 0;
  }
  .imgText {
    width: 100%;
  }
  .imgLeft {
    width: 100%;
  }

  .foodListIcon {
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }
  .foodListIcon div {
    width: 100%;
  }
  .foodListIcon .clcboxItemss {
    padding-right: 0;
    margin: 0;
    padding-bottom: 10px;
  }

  .foodListIcon .clcboxItemss .clcboxIImg {
    width: 75px;
    height: 75px;
  }
  .foodListIcon .clcboxItemss::after {
    content: none;
  }

  .exploreMorebuttonVisitChennai a {
    width: 147px;
    font-size: 13px;
    line-height: 31px;
  }
  .foodListIcon .clcboxItemss .clcboxICont p {
    margin-bottom: 15px;
    min-height: auto;
  }

  .imgcolTitle {
    width: 80%;
    margin-left: 0;
    padding: 4vw;
    margin-top: -10vw;
  }

  .imgcolTitle h2 small {
    font-size: clamp(24px, 3.5vw, 64px);
  }

  .imgcolTitle h2 {
    margin-top: 10px;
  }

  .foodlistsec .imgcontent {
    padding: 0;
  }

  .foodListIcon div:nth-child(3) {
    border-top: none;
    padding-top: 5px;
  }

  /* New Style */
}

/* Moving Section  */

/* ------------Resposive----------  */
