/* FullWidthHeaderMegaMenu.css */

.Megamanuheader {
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 50;
}

.Megamenunav {
  width: 100%;
}

.Megamenutop-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  overflow: hidden;
}

.Megamenutop-bar-desktop {
  padding: 1rem 2rem;
}

.Megamenulogo {
  font-size: 1.25rem;
  font-weight: bold;
}

.Megamenumenuicon {
  display: block;
}

.Megamenumenudesktop {
  display: none;
}

.Megamenumenuitem {
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  font-family: "29LT Bukra SmBd";
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Megamenumenuitem:hover {
  color: #a44294; /* Tailwind's blue-600 */
}

.Newmegamenu {
  position: absolute;
  top: 92%;
  left: 0;
  width: 100%;
  background-color: #f3f4f6;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-bottom: 8px solid #a44294;
}

.Newmegamenu {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.Newmegamenu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  box-shadow: inset 0px 12px 12px -9px #ccc;
}

.RightArowwHeaderMegamenu {
  width: 15px;
  height: 15px;
}

.mega-block-title::after {
  content: "";
  background-image: url("../../../public/images/icons/hamburger-right-arrow.svg");

  position: absolute;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 33%;
  right: -21px;
  transform: translateY(-50%);
}

/* .mega-link-wrapper::after {
  content: "";
  background-image: url("../../../public/images/icons/hamburger-right-arrow.svg");
  position: absolute;
  top: 2px;
  width: 15px;
  height: 15px;
  right: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}  */

.Newmegamenu.hide {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

.Newmegamenuinner {
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 2.5rem 0;
    height: 100%;
    column-gap: 4rem;
    row-gap: 2.3rem;
    height: max-content;
}

.HomePageStyle .Megamenumenuitem::after {
  border-top: 4.5px solid #000;
}

.activeStateMegamenu .Megamenumenuitem::after {
  border-top: 4.5px solid #000;
}

.activeMegamenuSection::after {
  border-top: 4.5px solid #a44294 !important;
}

.Megamenumenuitem::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 4.5px solid #fff;
  display: block;
  position: absolute;
  top: 38%;
  right: 5px;
}

.scrolled .Megamenumenuitem::after {
  border-top: 4.5px solid #000;
}
.mega-block-title {
  font-family: "29LT Bukra SmBd";
  color: #8a4389;
  /* font-size: 17px; */
  line-height: 20px;
  font-size: clamp(13px, 1vw, 17px);
  position: relative;
  display: inline-block; /* Ensures pseudo-element stays aligned with the text */
  padding-right: 15px; /* Creates space for the pseudo-element */
  display: flex;
  column-gap: 0px;
  justify-content: space-between;
  width: max-content;
}

.mega-block-desc {
  width: 75%;
  margin-top: 3px;
  font-family: "29LT Bukra Regular";
  font-size: clamp(11px, 1.2vw, 14px);
  line-height: clamp(16px, 2vw, 22px);
  color: #000000;
  font-weight: 500;
}

.mobile-menu {
  padding: 0 1.5rem 1rem;
  height: auto;
  overflow: scroll;
}

.mobile-section {
  margin-bottom: 1rem;
}

.mobile-title {
  font-size: 1.125rem;
  font-weight: 600;
}

.mobile-content {
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.mobile-subtitle {
  font-weight: 500;
}

.mobile-subdesc {
  font-size: 0.875rem;
  color: #4b5563;
}

/* Styles */

.Megamenulogo {
  width: 156px;
  height: 115px;
  /* background-image: url("../../../public/images/super-chennai-logo-final-header.png"); */
  background-image: url("../../../public/images/super-chennai-logo-final.png");
  background-size: contain;
  z-index: 10;
}

.activeStateMegamenu .Megamenulogo {
  background-image: url("../../../public/images/super-chennai-logo-final-header.png");
}

.megamenuMainContainer {
  display: flex;
  justify-content: center;
  max-width: 1130px;
  column-gap: 30px;
  /* height: 515px; */
  height: auto;
  /* height: 0; */
  /* height: 350px; */
  /* height: 480px; */
}

.megamenuMainImage {
  width: 35%;
  object-fit: cover;
}

.Megamenulogo1 {
  font-weight: 600;
  font-size: 15px;
  font-family: "29LT Bukra SmBd";
  letter-spacing: 1px;
  line-height: 20px;
  color: #fff;
  position: relative;
}

.HomePageStyle .Megamenulogo1::after {
  content: "";
  background-image: url("../../../public/images/icons/hamburger-Menu.svg");
  top: -7px;
  width: 33px;
  height: 32px;
  left: -33px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.Megamenulogo1::after {
  background-image: url("../../../public/images/icons/hamburger-Menu-White.svg");
  content: "";
  top: -7px;
  width: 33px;
  height: 32px;
  left: -33px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.scrolled .Megamenulogo1::after {
  background-image: url("../../../public/images/icons/hamburger-Menu.svg");
  content: "";
  top: -7px;
  width: 33px;
  height: 32px;
  left: -33px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}
.Megamenumenuitem {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 5px 19px;
  cursor: pointer;
  color: #fff;
}

.menu-arrow {
  display: inline-block;
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.mainMegamenuContainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
}

.mainMegamenuContainer.scrolled {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

.activeStateMegamenu {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.activeStateMegamenu .Megamenumenuitem {
  color: #a44294;
}

.activeStateMegamenu .Megamenumenuitem:hover {
  text-decoration: underline;
}
.activeStateMegamenu .Megamenumenuitem:hover {
  text-decoration: none;
}

.activeStateMegamenu .Megamenulogo1 {
  color: #a44294;
}

.scrolled .Megamenumenuitem {
  color: #000;
}

.scrolled .Megamenulogo1 {
  color: #000;
}
.scrolled .Megamenulogo1:hover {
  color: #a44294;
}

.scrolled .Megamenumenuitem:hover {
  color: #a44294;
  text-decoration: underline;
  text-underline-offset: 14px;
}

.activeStateMegamenu .Megamenumenuitem {
  color: #000;
}
.Megamenumenuitem:hover {
  color: #a44294;
  text-decoration: 3.5px underline !important;
  text-underline-offset: 14px;
}
.Megamenumenuitem:hover::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 4.5px solid #a44294;
  display: block;
  position: absolute;
  top: 38%;
  right: 5px;
}

.activeMegamenuSection {
  color: #8a4389 !important;
  text-decoration: 3.5px underline !important;
  text-underline-offset: 14px;
}

.scrolled .Megamenutop-bar {
  padding-bottom: 10px;
}

.scrolled .Megamenulogo {
  width: 116px;
  height: 86px;
  background-image: url(/public/images/super-chennai-logo-final-header.png);
  background-size: contain;
  z-index: 10;
}

.mega-link-wrapper h4:hover {
  text-decoration: underline;
}



.mega-link-wrapper {
  position: relative;
}

.HomePageStyle .Megamenumenuitem {
  color: #000;
}
.HomePageStyle .Megamenumenuitem:hover {
  color: #a44294;
}

.HomePageStyle .Megamenumenudesktop {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.HomePageStyle .Megamenulogo {
  background-image: url(/public/images/super-chennai-logo-final-header.png);
}

.HomePageStyle .Megamenulogo1 {
  color: #000;
}
/* .activeStateMegamenu .Megamenumenudesktop {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  } */

.Megamenumenudesktop {
  /* display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 9px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    column-gap: 30px;
    padding-bottom: 5px; */
  display: flex;
  /* border-top: 2px solid rgba(255, 255, 255, 0.1); */
  border-top: 0;
  padding: 10px 9px;
  border-bottom: 0;
  column-gap: 30px;
  padding-bottom: 5px;
  position: relative;
}

.Megamenumenudesktop::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.Megamenumenudesktop::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.activeStateMegamenu .Megamenumenudesktop {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.scrolled .Megamenumenudesktop {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.Megamenutop-bar {
  padding: 3rem 5rem;
  padding-bottom: 0;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.mobile-menu {
  display: none;
}

.scrolled .Megamenutop-bar {
  padding: 1rem 6rem;
}

@media (max-width: 1600px) and (min-width: 1300px) {
  .megamenuMainContainer {
    height: auto;
  }

  .Newmegamenuinner {
    gap: 1rem;
    padding: 1rem 0;
  }

  .Megamenumenuitem {
    font-size: 11px;
  }

  .Megamenulogo {
    width: 130px;
    height: 96px;
  }

  .Megamenulogo1 {
    font-size: 11px;
  }

  .Megamenulogo1 {
    top: -3px;
    width: 24px;
    height: 24px;
    left: -25px;
  }

  .scrolled .Megamenutop-bar {
    padding: 1rem 5rem;
  }

  .megamenuMainContainer {
    max-width: 900px;
  }
}

@media (max-width: 1300px) and (min-width: 1150px) {
  .Megamenutop-bar {
    padding: 4rem 2rem;
  }

  .Megamenulogo {
    width: 120px;
    height: 88px;
  }

  .scrolled .Megamenutop-bar {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1150px) and (min-width: 1100px) {
  .megamenuMainImage {
    display: none;
  }
  .Megamenumenudesktop {
    column-gap: 20px;
  }
  .Megamenutop-bar {
    padding: 3rem;
  }
  .Megamenulogo {
    width: 100px;
    height: 73px;
  }

  .Megamenumenuitem {
    font-size: 11px;
  }

  .Megamenulogo1 {
    font-size: 11px;
  }
  .scrolled .Megamenutop-bar {
    padding: 0.8rem 2rem;
  }
}

@media (max-width: 1100px) and (min-width: 950px) {
  .scrolled .Megamenulogo {
    width: 100px;
    height: 73px;
  }
  .Megamenumenudesktop {
    column-gap: 20px;
  }
  .Megamenutop-bar {
    padding: 3rem 1rem;
  }
  .Megamenulogo {
    width: 100px;
    height: 73px;
  }

  .Megamenumenuitem {
    font-size: 11px;
    padding: 5px 14px;
  }

  .Megamenulogo1 {
    font-size: 11px;
  }
  .scrolled .Megamenutop-bar {
    padding: 0.8rem 1rem;
  }
  .megamenuMainImage {
    display: none;
  }

  .megamenuMainContainer {
    height: auto;
  }
  .Newmegamenuinner {
    width: 100%;
    padding: 2.5rem 0;
    height: auto;
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

@media (max-width: 950px) and (min-width: 800px) {
  .HomePageStyle .Megamenulogo1::after {
    top: -3px;
    width: 27px;
    height: 25px;
    left: -27px;
  }
  .Megamenumenudesktop {
    column-gap: 5px;
    padding-top: 5px;
  }
  .Megamenutop-bar {
    padding: 3rem 1rem;
  }
  .Megamenulogo {
    width: 80px;
    height: 59px;
  }

  .Megamenumenuitem {
    font-size: 9px;
    padding: 5px 15px;
  }

  .Megamenulogo1 {
    font-size: 9px;
  }
  .scrolled .Megamenutop-bar {
    padding: 0.8rem 1rem;
  }

  .scrolled .Megamenulogo {
    width: 80px;
    height: 59px;
  }

  .megamenuMainImage {
    display: none;
  }

  .Newmegamenuinner {
    width: 100%;
    padding: 2.5rem 0;
    height: 80%;
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .megamenuMainContainer {
    height: auto;
    width: 65%;
  }
}

/* Responsive */

@media (max-width: 800px) {
  .Megamenutop-bar {
    display: none;
  }
}

@media (min-width: 800px) {
  .Mobileheader {
    display: none;
  }
  .Megamenumenuicon {
    display: none;
  }
}

@media (max-width: 800px) {
  .Mobileheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    background: white;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    margin-top: 15px;
  }

  .scrolled .Mobileheader {
    margin-top: 0px;
  }

  .mobilesvgSize {
    width: 30px;
    height: 30px;
  }

  .mobilesvgSize:nth-child(3) {
    width: 106px;
    margin-top: -3%;
  }

  .mobilesvgSize:nth-child(3) img {
    /* background-color: white; */
  }

  .mainMegamenuContainer {
    /* top: 10px; */
  }

  /* .mobilesvgSize:first-child {
    position: relative;
  }
  .mobilesvgSize:first-child::after {
    content: "";
    position: absolute;
    right: -70%;
    width: 1px;
    height: 65px;
    background: black;
    top: 0px;
  } */

  .Mobileheader::after {
    content: "";
    position: absolute;
    right: 15.5%;
    width: 1px;
    height: 55px;
    background: #e9e6e6;
    top: 0px;
  }

  .Mobileheader::before {
    content: "";
    position: absolute;
    left: 15.5%;
    width: 1px;
    height: 55px;
    background: #e9e6e6;
    top: 0px;
  }
}
