.InnovateSliderSectionBg {
  background: linear-gradient(
    90deg,
    rgb(121 33 72) 0%,
    rgb(126 60 62) 50%,
    rgb(131 45 2) 100%
  );
  padding-bottom: 80px;
}
.InnovateSliderslick-section {
  padding: 70px 0 75px;
  text-align: center;
}

.InnovateSliderslick-container {
  position: relative;
  margin: 0 auto;
}

.InnovateSliderslick-wrap {
  margin-left: 20%;
}

.InnovateSliderslick-item {
  width: 800px !important;
  margin-right: 250px;
  height: 600px;
  position: relative;
  overflow: hidden;
    background-color: #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  
  
}
  

.InnovateSliderslick-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
   
}

.InnovateSlidercustom-dots {
  list-style-type: none;
  margin: 25px 0 0;
  padding: 0;
  text-align: center;
}

.InnovateSlidercustom-dots li {
  display: inline-block;
  padding: 0 5px;
}

.InnovateSlidercustom-dots li button {
  padding: 10px 15px;
  font-size: 12px;
  color: #666;
  border: none;
  background: #ddd;
  cursor: pointer;
}

.InnovateSlidercustom-dots li.slick-active button {
  background: #bbb;
  font-weight: bold;
}

.InnovateSlidernav-buttons {
  position: absolute;
  top: 50%;
  left: 38%;
  right: 0;
  transform: translateY(-50%);
  justify-content: space-between;
  padding: 0 20px;
  pointer-events: none;
  z-index: 2;
}

.leftButtonInnovateSliders {
  cursor: pointer;
  pointer-events: auto;
  width: 50px;
  height: 50px;
  background-image: url("../../../public/images/icons/LeftArrow-Bg.svg");
  background-size: contain;
  margin-right: 20px;
}

.rightButtonInnovateSliders {
  cursor: pointer;
  pointer-events: auto;
  width: 50px;
  height: 50px;
  background-image: url("../../../public/images/icons/RightArrow-Bg.svg");
  background-size: contain;
}

.slick-slide {
  /* margin-right: 0.55%; */
}

.slick-dots {
  display: none;
}

.image-wrapper {
  position: relative;
}

.innovateSlideTxt {
    display: flex;
    position: absolute;
    bottom: 28px;
    left: 0;
   transform: translate(0, 1%);
    color: white;
    text-align: center;
    padding: 20px;
    /* background: rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, rgba(0, 0,  0, 0.7));
    justify-content: flex-end;
    /* align-items: flex-end; */
    flex-direction: column;
    padding: 50px;
}

.innovateSlideTxt h2 {
    font-family: "29LT Bukra SmBd";
    font-size: 40px;
    text-transform: uppercase;
    line-height: 45px;
    text-align: left;
    padding-right: 20%;
}

.innovateSlideTxt p {
  font-family: "29LT Bukra Medium";
  font-size: 16px;
  width: 70%;
  text-align: left;
  line-height: 26px;
  margin-top: 10px;
  word-spacing: 3px;
}

.InnovateSliderFLex {
  display: flex;
  flex-wrap: wrap;
 row-gap: 22px;
  justify-content: flex-start;
  position: relative;
}
.InnovateSliderFLex::after{position: absolute; background: #fff; opacity: 0.2; left: 0; height: 2px; content: ''; width: 100%; height: 1px;    bottom: 50%;}
 

.InnovateSlider-buttons-container {
  padding-top: 18px;
  padding-bottom: 18px;
  background: linear-gradient(
    90deg,
    rgb(62 33 40) 0%,
    rgb(91 53 60) 50%,
    rgb(62 24 31) 100%
  );
}

.InnovateSlider-button {
  width: 16%;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.InnovateSlider-button:first-child {
  border: none;
}

.InnovateSliderButtonTitle {
  font-family: "29LT-Bukra-Light";
  color: #b5a4a4;
  font-size: 16px;
  text-align: left;
  line-height: 26px;
  cursor: pointer;
  letter-spacing: 1px;
  width: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 11px;
  padding-right: 11px;
 
}

.active .InnovateSliderButtonTitle {
  font-family: "29LT Bukra SmBd";
  color: #dbd3d3;
  font-size: 17px;
   width: 72%;
  width: fit-content;
}

.InnovateSlider-button:nth-child(6n + 6) .InnovateSliderButtonTitle {    border-right: none;}

@media screen and (max-width: 1600px) {
.InnovateSlider-button {
    width: 25%;
}
.InnovateSliderslick-item {
      width: 600px !important;
     margin-right: 180px;
    height: 400px;
}
.innovateSlideTxt h2 {  font-size: 33px; line-height: 42px;}
.innovateSlideTxt {  bottom: 64px;}
.InnovateSlider-button { margin-bottom: 20px; }
.InnovateSlider-button:nth-child(6n + 6) .InnovateSliderButtonTitle {    border-right: 1px solid rgba(255, 255, 255, 0.4);}
.InnovateSlider-button:nth-child(4n + 4) .InnovateSliderButtonTitle {    border-right: none;}
.InnovateSliderFLex::after {
  background: none;
}
}

@media screen and (max-width: 1300px) {
  .InnovateSliderslick-item {
    width: 700px;
  }
  .InnovateSliderslick-wrap {
    margin-left: 7%;
}
.InnovateSlidernav-buttons {
    left: 23%;}
}
@media screen and (max-width: 1200px) {
    .InnovateSlidernav-buttons {
        left: 33%;
    }
  }
@media screen and (max-width: 1100px) {
  .InnovateSliderslick-item {
    width: 600px;
  }
      .InnovateSlidernav-buttons {
        left: 48%;
    }
}

@media screen and (max-width: 900px) {
  .InnovateSliderslick-item {
    width: 100%;
    height: auto;
    margin-right: 10px;
  }
}

@media (max-width: 900px) {
  .innovateSlideTxt {
        bottom: 0;
    }
    .InnovateSlidernav-buttons {
    top: auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    justify-content: space-between;  z-index: 2;
}
  .InnovateSliderslick-item {
    width: 90% !important;
    margin-right: 0;
  }
  .InnovateSliderslick-wrap {
    margin-left: 0%;
  }

  .InnovateSlider-button {
    width: 100%;
  }
  .InnovateSliderFLex {
    display: flex;
    row-gap: 22px;
    justify-content: flex-start;
    overflow: scroll;
    height: 100px;
    
    flex-wrap: nowrap;
  }
 .InnovateSliderButtonTitle {
     width: 210px;
    padding: 0;
  }

  .active .InnovateSliderButtonTitle {
     width: 210px;
  }
  .InnovateSlider-button {
        width: 100%;
        padding: 0 10px;
    }
    .InnovateSlider-buttons-container{display: none;}
    .innovateSlideTxt {  padding: 50px 50px 72px; }
}
