
.formheadingtheme-article  {
  font-family: "NewAmsterdam";
  color: #a44294;
  font-size: clamp(12px, 3vw, 50px);
  line-height: clamp(48px, 6vw, 77px);
}
.formheadingtheme-article h4  {
  font-family: "NewAmsterdam";
  color: #a44294;
  font-size: clamp(12px, 3vw, 50px);
}

@media (min-width: 300px) and (max-width: 700px) {
  .formheadingtheme-article {
    font-size: 28px;
    line-height: 34px;
  }
}

.formheadingtheme-article-cards {
  font-family: "NewAmsterdam";
  color: #a44294;
  font-size: clamp(12px, 2vw, 50px);
  /* line-height: clamp(48px, 6vw, 77px); */
}


.conclevesSectionHeading h3 {
  font-family: NewAmsterdam;
  font-size: clamp(12px, 3vw, 50px);
  color: #100f9a;
  line-height: 30px;
}