.maincontainerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardpropertyslide {
  flex-shrink: 0;
}

.scrollContainer {
  position: relative;
  overflow-x: auto;
  scrollbar-width: none;
  max-width: 330px;
}

.scrollBtn {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  z-index: 20;
  background: #a44294;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  color: #ffff;


  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.scrollBtn.left {
  left: 275px;
}

.scrollBtn.right {
  right: 10px;
}


/* MOBILE RESPOIVE  */