.sort-by {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sort-by label {
  font-weight: 400;
}

.sort-by select {
  padding: 3px 8px;
  border-radius: 10px;
  border: 1px solid #a44294;
  background: #fff;
}
